.content {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;

  &__btn {
    position: absolute;
    top: -20px;
    right: 0;
    width: 200px;
  }

  &__title {
    font-size: 30px;
    font-weight: bold;
    color: $fuchsia;
    text-transform: uppercase;
  }
}