.users {

  border: solid 2px $fuchsia;
  border-radius: 5px;
  padding: 30px;

  &__header {
    padding-bottom: 30px;
  }

  &__item {
    cursor: pointer;
    margin-bottom: 20px;
    transition: all ease-in-out .15s;

    &:last-child {
      padding-bottom: 0;
    }

    &:hover {
      background-color: $turquoise;
      transition: all ease-in-out .3s;
    }
  }
  &__photo {
    width: 60px;
    height: 60px;
    border: solid 2px $fuchsia;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;

    img {
      max-width: none;
      min-width: auto;
      min-height: auto;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }


  &__row {
    display: flex;
  }
  &__name {
    font-size: 25px;
  }
  &__digit {
    font-size: 27px;
    font-weight: bold;

    span {
      font-size: 18px;
    }
  }
  &__add {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 30px;
  }
  &__btn {
    display: flex;
    width: 50%;
    margin: 0 auto;
  }

}