@font-face {
  font-family: 'Museo Sans Cyrl';
  src: local('Museo Sans Cyrl 500'), local('MuseoSansCyrl-500'), url('../../src/fonts/Museosanscyrl500.woff2') format('woff2'),
  url('../../src/fonts/Museosanscyrl500.woff') format('woff'),
  url('../../src/fonts/Museosanscyrl500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
