@import "reset";
@import "fonts";
@import "df-btn";
@import "main-page";
@import "wrapper";
@import "header";
@import "service";


body {
  font-family: 'Museo Sans Cyrl';
  font-size: 14px;

  &.fixed {
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}