@charset "UTF-8";
html, body, img, div, a, table {
  image-rendering: -webkit-optimize-contrast !important; }

.wp-block-separator {
  max-width: 736px !important;
  margin: 0 auto;
  color: #828282 !important;
  border-bottom: 0 !important; }

body {
  margin: 0; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: none; }

input {
  outline: none;
  box-sizing: border-box;
  border: none; }

textarea {
  outline: none; }

button {
  outline: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border-style: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

* {
  box-sizing: border-box;
  outline: none; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

select {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: underline;
  background-color: transparent; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  cursor: inherit;
  font-size: 12px;
  line-height: 1.5; }

select::-ms-expand {
  display: none; }

@media screen and (max-width: 1199px) {
  hr {
    max-width: 100% !important; } }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Black.eot");
  src: local("Raleway Black"), local("Raleway-Black"), url("../fonts/Raleway-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Black.woff") format("woff"), url("../fonts/Raleway-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-ExtraLight.eot");
  src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"), url("../fonts/Raleway-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ExtraLight.woff") format("woff"), url("../fonts/Raleway-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Medium.eot");
  src: local("Raleway Medium"), local("Raleway-Medium"), url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-LightItalic.eot");
  src: local("Raleway Light Italic"), local("Raleway-LightItalic"), url("../fonts/Raleway-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-LightItalic.woff") format("woff"), url("../fonts/Raleway-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Regular.eot");
  src: local("Raleway"), local("Raleway-Regular"), url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Light.eot");
  src: local("Raleway Light"), local("Raleway-Light"), url("../fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Thin.eot");
  src: local("Raleway Thin"), local("Raleway-Thin"), url("../fonts/Raleway-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Thin.woff") format("woff"), url("../fonts/Raleway-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-ExtraBoldItalic.eot");
  src: local("Raleway ExtraBold Italic"), local("Raleway-ExtraBoldItalic"), url("../fonts/Raleway-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ExtraBoldItalic.woff") format("woff"), url("../fonts/Raleway-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-ExtraLightItalic.eot");
  src: local("Raleway ExtraLight Italic"), local("Raleway-ExtraLightItalic"), url("../fonts/Raleway-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ExtraLightItalic.woff") format("woff"), url("../fonts/Raleway-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-MediumItalic.eot");
  src: local("Raleway Medium Italic"), local("Raleway-MediumItalic"), url("../fonts/Raleway-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-MediumItalic.woff") format("woff"), url("../fonts/Raleway-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-BoldItalic.eot");
  src: local("Raleway Bold Italic"), local("Raleway-BoldItalic"), url("../fonts/Raleway-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-BoldItalic.woff") format("woff"), url("../fonts/Raleway-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-ThinItalic.eot");
  src: local("Raleway Thin Italic"), local("Raleway-ThinItalic"), url("../fonts/Raleway-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ThinItalic.woff") format("woff"), url("../fonts/Raleway-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-SemiBoldItalic.eot");
  src: local("Raleway SemiBold Italic"), local("Raleway-SemiBoldItalic"), url("../fonts/Raleway-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-SemiBoldItalic.woff") format("woff"), url("../fonts/Raleway-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-SemiBold.eot");
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url("../fonts/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Italic.eot");
  src: local("Raleway Italic"), local("Raleway-Italic"), url("../fonts/Raleway-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Italic.woff") format("woff"), url("../fonts/Raleway-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Bold.eot");
  src: local("Raleway Bold"), local("Raleway-Bold"), url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-ExtraBold.eot");
  src: local("Raleway ExtraBold"), local("Raleway-ExtraBold"), url("../fonts/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-BlackItalic.eot");
  src: local("Raleway Black Italic"), local("Raleway-BlackItalic"), url("../fonts/Raleway-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-BlackItalic.woff") format("woff"), url("../fonts/Raleway-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 1.32; }

h2 {
  font-weight: 600;
  font-size: 35px;
  line-height: 1.89; }

h3 {
  font-size: 26px;
  font-weight: normal; }

.underscore {
  position: relative; }
  .underscore:before {
    content: "";
    position: absolute;
    height: 4px;
    width: 57px;
    left: calc(50% - 28.5px);
    bottom: 0;
    background-image: url("../img/underscore.png");
    background-repeat: no-repeat;
    background-size: cover; }

.top-icon {
  position: relative;
  padding-top: 88px; }
  .top-icon:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 66px;
    background-image: url("../img/icon-spica_yellow.svg");
    background-repeat: no-repeat;
    background-size: cover; }

.center {
  text-align: center; }

@media screen and (max-width: 1023px) {
  h1 {
    font-size: 33px;
    line-height: 1.45; }
  h2 {
    font-size: 33px;
    line-height: 2; }
  h3 {
    font-size: 24px;
    line-height: 1.35; } }

html, body {
  font-family: 'Raleway';
  font-weight: normal;
  font-style: normal;
  min-width: 320px;
  min-height: 100%;
  color: #000000;
  font-size: 16px; }

.overflow {
  overflow: hidden; }

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 15; }
  .overlay.active {
    display: block; }

.main-wrapper {
  overflow: hidden; }

.wrapper {
  width: 100%;
  max-width: 1296px;
  padding: 0 20px;
  margin: 0 auto; }

@media screen and (max-width: 1023px) {
  .wrapper {
    padding: 0 10px; } }

.button {
  display: inline-block;
  padding: 17px 40px;
  font-size: 16px;
  line-height: 1;
  color: #602800;
  border-radius: 55px;
  background-color: #E4B90C;
  cursor: pointer;
  text-align: center;
  border: solid 1px transparent;
  transition: all ease-in-out .3s; }
  .button:hover {
    background-color: #e49c0c;
    box-shadow: 0 10px 15px rgba(228, 185, 16, 0.32);
    transition: all ease-in-out .3s; }
  .button--green {
    background-color: #388E3C;
    color: #FFFFFF; }
    .button--green:hover {
      background-color: #266D2A;
      box-shadow: 0 10px 15px rgba(2, 107, 66, 0.24);
      transition: all ease-in-out .3s; }
  .button--white {
    background-color: #FFFFFF;
    border-color: #398E3D;
    color: #398E3D; }
    .button--white:hover {
      background-color: #398E3D;
      color: #FFFFFF;
      box-shadow: none;
      transition: all ease-in-out .3s; }
  .button--small {
    padding: 6px 20px; }

.input, .textarea {
  width: 100%;
  background-color: #FFFFFF;
  padding: 18px 40px;
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  color: #000000;
  border: solid 1px transparent;
  transition: all ease-in-out .15s; }
  .input::-moz-placeholder, .textarea::-moz-placeholder {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #000000; }
  .input::placeholder, .textarea::placeholder {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #000000; }

.input {
  border-radius: 55px; }

.textarea {
  border: none;
  border-radius: 18px;
  resize: none;
  height: 93px; }

@media screen and (max-width: 767px) {
  .textarea {
    border-radius: 11px; } }

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: left; }
  .checkbox__input {
    display: none; }
  .checkbox__box {
    display: inline-block;
    flex: none;
    width: 23px;
    height: 23px;
    border: solid 1px #DCE9F0;
    background-color: #FFFFFF;
    border-radius: 5px;
    background-image: url("../img/icon-check.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 0;
    transition: all ease-in-out .15s; }
  .checkbox__description {
    display: inline;
    font-size: 14px;
    font-weight: 300;
    padding-left: 9px; }

.checkbox__input:checked + .checkbox__box {
  background-size: 50%;
  background-color: #398E3D;
  transition: all ease-in-out .3s; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before, .slick-track:after {
  content: "";
  display: table; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }

[dir="rtl"] .slick-slide {
  float: right; }

.slick-slide img {
  /*display: block; */
  display: inline-block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 50px;
  width: 50px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  z-index: 100; }

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent; }

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25; }

.slick-prev:before,
.slick-next:before {
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px; }

.slick-prev:before {
  content: ""; }

[dir="rtl"] .slick-prev:before {
  content: ""; }

.slick-next {
  right: -25px; }

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto; }

.slick-next:before {
  content: ""; }

[dir="rtl"] .slick-next:before {
  content: ""; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer; }

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75; }

.slick-slide {
  outline: none; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }

.slick-arrow.slick-disabled {
  opacity: 0.5; }

#productsSlider.slick-slider, #certificatesGallery.slick-slider {
  display: block; }

#productsSlider .slick-list, #certificatesGallery .slick-list {
  padding-top: 15px; }

#productsSlider .slick-dots, #certificatesGallery .slick-dots {
  bottom: -60px; }
  #productsSlider .slick-dots li, #certificatesGallery .slick-dots li {
    margin: 0 3px; }
    #productsSlider .slick-dots li button::before, #certificatesGallery .slick-dots li button::before {
      font-size: 25px;
      color: #000000;
      opacity: 1 !important; }

#productsSlider .slick-dots li.slick-active button:before, #certificatesGallery .slick-dots li.slick-active button:before {
  color: #388E3C;
  opacity: 1 !important; }

#certificatesGallery .slick-dots {
  bottom: -30px; }

body.compensate-for-scrollbar {
  overflow: hidden; }

.fancybox-active {
  height: auto; }

.fancybox-is-hidden {
  left: -9999px;
  margin: 0;
  position: absolute !important;
  top: -9999px;
  visibility: hidden; }

.fancybox-container {
  -webkit-backface-visibility: hidden;
  height: 100%;
  left: 0;
  outline: none;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  touch-action: manipulation;
  transform: translateZ(0);
  width: 100%;
  z-index: 99992; }

.fancybox-container * {
  box-sizing: border-box; }

.fancybox-bg, .fancybox-inner, .fancybox-outer, .fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.fancybox-outer {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto; }

.fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71); }

.fancybox-is-open .fancybox-bg {
  opacity: .9;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); }

.fancybox-caption, .fancybox-infobar, .fancybox-navigation .fancybox-button, .fancybox-toolbar {
  direction: ltr;
  opacity: 0;
  position: absolute;
  transition: opacity .25s ease, visibility 0s ease .25s;
  visibility: hidden;
  z-index: 99997; }

.fancybox-show-caption .fancybox-caption, .fancybox-show-infobar .fancybox-infobar, .fancybox-show-nav .fancybox-navigation .fancybox-button, .fancybox-show-toolbar .fancybox-toolbar {
  opacity: 1;
  transition: opacity .25s ease 0s, visibility 0s ease 0s;
  visibility: visible; }

.fancybox-infobar {
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  left: 0;
  line-height: 44px;
  min-width: 44px;
  mix-blend-mode: difference;
  padding: 0 10px;
  pointer-events: none;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.fancybox-toolbar {
  right: 0;
  top: 0; }

.fancybox-stage {
  direction: ltr;
  overflow: visible;
  transform: translateZ(0);
  z-index: 99994; }

.fancybox-is-open .fancybox-stage {
  overflow: hidden; }

.fancybox-slide {
  -webkit-backface-visibility: hidden;
  display: none;
  height: 100%;
  left: 0;
  outline: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: absolute;
  text-align: center;
  top: 0;
  transition-property: transform, opacity;
  white-space: normal;
  width: 100%;
  z-index: 99994; }

.fancybox-slide:before {
  content: "";
  display: inline-block;
  font-size: 0;
  height: 100%;
  vertical-align: middle;
  width: 0; }

.fancybox-is-sliding .fancybox-slide, .fancybox-slide--current, .fancybox-slide--next, .fancybox-slide--previous {
  display: block; }

.fancybox-slide--image {
  overflow: hidden;
  padding: 44px 0; }

.fancybox-slide--image:before {
  display: none; }

.fancybox-slide--html {
  padding: 6px; }

.fancybox-content {
  background: #fff;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: relative;
  text-align: left;
  vertical-align: middle; }

.fancybox-slide--image .fancybox-content {
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  -webkit-backface-visibility: hidden;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  max-width: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 0;
  transform-origin: top left;
  transition-property: transform, opacity;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 99995; }

.fancybox-can-zoomOut .fancybox-content {
  cursor: zoom-out; }

.fancybox-can-zoomIn .fancybox-content {
  cursor: zoom-in; }

.fancybox-can-pan .fancybox-content, .fancybox-can-swipe .fancybox-content {
  cursor: -webkit-grab;
  cursor: grab; }

.fancybox-is-grabbing .fancybox-content {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.fancybox-container [data-selectable=true] {
  cursor: text; }

.fancybox-image, .fancybox-spaceball {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%; }

.fancybox-spaceball {
  z-index: 1; }

.fancybox-slide--iframe .fancybox-content, .fancybox-slide--map .fancybox-content, .fancybox-slide--pdf .fancybox-content, .fancybox-slide--video .fancybox-content {
  height: 100%;
  overflow: visible;
  padding: 0;
  width: 100%; }

.fancybox-slide--video .fancybox-content {
  background: #000; }

.fancybox-slide--map .fancybox-content {
  background: #e5e3df; }

.fancybox-slide--iframe .fancybox-content {
  background: #fff; }

.fancybox-iframe, .fancybox-video {
  background: transparent;
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%; }

.fancybox-iframe {
  left: 0;
  position: absolute;
  top: 0; }

.fancybox-error {
  background: #fff;
  cursor: default;
  max-width: 400px;
  padding: 40px;
  width: 100%; }

.fancybox-error p {
  color: #444;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0; }

.fancybox-button {
  background: rgba(30, 30, 30, 0.6);
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0;
  padding: 10px;
  position: relative;
  transition: color .2s;
  vertical-align: top;
  visibility: inherit;
  width: 44px; }

.fancybox-button, .fancybox-button:link, .fancybox-button:visited {
  color: #ccc; }

.fancybox-button:hover {
  color: #fff; }

.fancybox-button:focus {
  outline: none; }

.fancybox-button.fancybox-focus {
  outline: 1px dotted; }

.fancybox-button[disabled], .fancybox-button[disabled]:hover {
  color: #888;
  cursor: default;
  outline: none; }

.fancybox-button div {
  height: 100%; }

.fancybox-button svg {
  display: block;
  height: 100%;
  overflow: visible;
  position: relative;
  width: 100%; }

.fancybox-button svg path {
  fill: currentColor;
  stroke-width: 0; }

.fancybox-button--fsenter svg:nth-child(2), .fancybox-button--fsexit svg:first-child, .fancybox-button--pause svg:first-child, .fancybox-button--play svg:nth-child(2) {
  display: none; }

.fancybox-progress {
  background: #ff5268;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scaleX(0);
  transform-origin: 0;
  transition-property: transform;
  transition-timing-function: linear;
  z-index: 99998; }

.fancybox-close-small {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #ccc;
  cursor: pointer;
  opacity: .8;
  padding: 8px;
  position: absolute;
  right: -12px;
  top: -44px;
  z-index: 401; }

.fancybox-close-small:hover {
  color: #fff;
  opacity: 1; }

.fancybox-slide--html .fancybox-close-small {
  color: currentColor;
  padding: 10px;
  right: 0;
  top: 0; }

.fancybox-slide--image.fancybox-is-scaling .fancybox-content {
  overflow: hidden; }

.fancybox-is-scaling .fancybox-close-small, .fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
  display: none; }

.fancybox-navigation .fancybox-button {
  background-clip: content-box;
  height: 100px;
  opacity: 0;
  position: absolute;
  top: calc(50% - 50px);
  width: 70px; }

.fancybox-navigation .fancybox-button div {
  padding: 7px; }

.fancybox-navigation .fancybox-button--arrow_left {
  left: 0;
  left: env(safe-area-inset-left);
  padding: 31px 26px 31px 6px; }

.fancybox-navigation .fancybox-button--arrow_right {
  padding: 31px 6px 31px 26px;
  right: 0; }

.fancybox-caption {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.15) 65%, rgba(0, 0, 0, 0.075) 75.5%, rgba(0, 0, 0, 0.037) 82.85%, rgba(0, 0, 0, 0.019) 88%, transparent);
  bottom: 0;
  color: #eee;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 1.5;
  padding: 75px 44px 25px;
  pointer-events: none;
  right: 0;
  text-align: center;
  z-index: 99996; }

.fancybox-caption--separate {
  margin-top: -50px; }

.fancybox-caption__body {
  max-height: 50vh;
  overflow: auto;
  pointer-events: all; }

.fancybox-caption a, .fancybox-caption a:link, .fancybox-caption a:visited {
  color: #ccc;
  text-decoration: none; }

.fancybox-caption a:hover {
  color: #fff;
  text-decoration: underline; }

.fancybox-loading {
  -webkit-animation: a 1s linear infinite;
  animation: a 1s linear infinite;
  background: transparent;
  border: 4px solid #888;
  border-bottom-color: #fff;
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: .7;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  z-index: 99999; }

@-webkit-keyframes a {
  to {
    transform: rotate(1turn); } }

@keyframes a {
  to {
    transform: rotate(1turn); } }

.fancybox-animated {
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1); }

.fancybox-fx-slide.fancybox-slide--previous {
  opacity: 0;
  transform: translate3d(-100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--next {
  opacity: 0;
  transform: translate3d(100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--current {
  opacity: 1;
  transform: translateZ(0); }

.fancybox-fx-fade.fancybox-slide--next, .fancybox-fx-fade.fancybox-slide--previous {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1; }

.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  opacity: 0;
  transform: scale3d(1.5, 1.5, 1.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  opacity: 1;
  transform: scaleX(1); }

.fancybox-fx-rotate.fancybox-slide--previous {
  opacity: 0;
  transform: rotate(-1turn); }

.fancybox-fx-rotate.fancybox-slide--next {
  opacity: 0;
  transform: rotate(1turn); }

.fancybox-fx-rotate.fancybox-slide--current {
  opacity: 1;
  transform: rotate(0deg); }

.fancybox-fx-circular.fancybox-slide--previous {
  opacity: 0;
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--next {
  opacity: 0;
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--current {
  opacity: 1;
  transform: scaleX(1) translateZ(0); }

.fancybox-fx-tube.fancybox-slide--previous {
  transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg); }

.fancybox-fx-tube.fancybox-slide--next {
  transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg); }

.fancybox-fx-tube.fancybox-slide--current {
  transform: translateZ(0) scale(1); }

@media (max-height: 576px) {
  .fancybox-slide {
    padding-left: 6px;
    padding-right: 6px; }
  .fancybox-slide--image {
    padding: 6px 0; }
  .fancybox-close-small {
    right: -6px; }
  .fancybox-slide--image .fancybox-close-small {
    background: #4e4e4e;
    color: #f2f4f6;
    height: 36px;
    opacity: 1;
    padding: 6px;
    right: 0;
    top: 0;
    width: 36px; }
  .fancybox-caption {
    padding-left: 12px;
    padding-right: 12px; } }

.fancybox-share {
  background: #f4f4f4;
  border-radius: 3px;
  max-width: 90%;
  padding: 30px;
  text-align: center; }

.fancybox-share h1 {
  color: #222;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 20px; }

.fancybox-share p {
  margin: 0;
  padding: 0; }

.fancybox-share__button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 5px 10px;
  min-width: 130px;
  padding: 0 15px;
  text-decoration: none;
  transition: all .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap; }

.fancybox-share__button:link, .fancybox-share__button:visited {
  color: #fff; }

.fancybox-share__button:hover {
  text-decoration: none; }

.fancybox-share__button--fb {
  background: #3b5998; }

.fancybox-share__button--fb:hover {
  background: #344e86; }

.fancybox-share__button--pt {
  background: #bd081d; }

.fancybox-share__button--pt:hover {
  background: #aa0719; }

.fancybox-share__button--tw {
  background: #1da1f2; }

.fancybox-share__button--tw:hover {
  background: #0d95e8; }

.fancybox-share__button svg {
  height: 25px;
  margin-right: 7px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 25px; }

.fancybox-share__button svg path {
  fill: #fff; }

.fancybox-share__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  color: #5d5b5b;
  font-size: 14px;
  margin: 10px 0 0;
  outline: none;
  padding: 10px 15px;
  width: 100%; }

.fancybox-thumbs {
  background: #ddd;
  bottom: 0;
  display: none;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 2px 2px 4px;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 0;
  width: 212px;
  z-index: 99995; }

.fancybox-thumbs-x {
  overflow-x: auto;
  overflow-y: hidden; }

.fancybox-show-thumbs .fancybox-thumbs {
  display: block; }

.fancybox-show-thumbs .fancybox-inner {
  right: 212px; }

.fancybox-thumbs__list {
  font-size: 0;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  position: relative;
  white-space: nowrap;
  width: 100%; }

.fancybox-thumbs-x .fancybox-thumbs__list {
  overflow: hidden; }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
  width: 7px; }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px; }

.fancybox-thumbs__list a {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  float: left;
  height: 75px;
  margin: 2px;
  max-height: calc(100% - 8px);
  max-width: calc(50% - 4px);
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100px; }

.fancybox-thumbs__list a:before {
  border: 6px solid #ff5268;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99991; }

.fancybox-thumbs__list a:focus:before {
  opacity: .5; }

.fancybox-thumbs__list a.fancybox-thumbs-active:before {
  opacity: 1; }

@media (max-width: 576px) {
  .fancybox-thumbs {
    width: 110px; }
  .fancybox-show-thumbs .fancybox-inner {
    right: 110px; }
  .fancybox-thumbs__list a {
    max-width: calc(100% - 10px); } }

.cookie-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  height: 44px;
  z-index: 10;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.13);
  transition: bottom ease-in-out .5s; }
  .cookie-panel .wrapper {
    height: 100%; }
  .cookie-panel.hide {
    bottom: -50px;
    transition: bottom ease-in-out .5s; }
  .cookie-panel__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .cookie-panel__text {
    font-size: 13px;
    line-height: 1.2;
    margin-right: 15px; }

@media screen and (max-width: 767px) {
  .cookie-panel {
    height: 90px; }
    .cookie-panel.hide {
      bottom: -95px; }
    .cookie-panel__inner {
      flex-direction: column; }
    .cookie-panel__text {
      margin-right: 0;
      margin-bottom: 7px;
      text-align: center; } }

.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
  background: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all ease-in-out .3s;
  overflow: auto; }
  .modal.open {
    visibility: visible;
    opacity: 1;
    transition: all ease-in-out .3s; }
  .modal__wrapper {
    display: flex;
    justify-content: center;
    padding: 40px 10px 10px 10px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: relative;
    max-width: 300px;
    height: 215px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 5px; }
  .modal__close {
    width: 28px;
    height: 28px;
    background: url("../img/icon-close_modal.svg") no-repeat;
    background-size: cover;
    position: absolute;
    top: -38px;
    right: -38px;
    cursor: pointer; }
  .modal__content {
    text-align: center; }
  .modal__title {
    font-size: 35px;
    line-height: 1.2;
    font-weight: 600;
    padding-bottom: 5px; }
  .modal__text {
    font-size: 16px;
    line-height: 1.75; }

@media screen and (max-width: 430px) {
  .modal__close {
    right: 0; } }

.header {
  position: relative;
  z-index: 100;
  border-bottom: solid 1px #F5F5F5; }
  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 47px 0 44px; }
  .header__logo {
    display: block;
    max-width: 208px; }
  .header__logo-img, .header__logo-img-white {
    width: 100%; }
  .header__logo-img {
    display: block; }
  .header__logo-img-white {
    display: none; }
  .header--white {
    border-bottom: none; }
    .header--white .menu {
      color: #FFFFFF; }
    .header--white .header__logo-img {
      display: none; }
    .header--white .header__logo-img-white {
      display: block; }

.menu {
  display: flex;
  align-items: center;
  font-size: 16px; }
  .menu__item {
    margin-right: 73px; }
    .menu__item:last-of-type {
      margin-right: 0; }
  .menu__link {
    display: inline-block;
    border-bottom: solid 2px transparent;
    transition: border-bottom-color ease-in-out .3s; }
    .menu__link:hover {
      border-bottom-color: #E4B90C;
      transition: border-bottom-color ease-in-out .3s; }

@media screen and (max-width: 1023px) {
  .header {
    position: relative; }
    .header__logo {
      max-width: 176px; }
    .header__inner {
      padding: 20px 0; }
    .header--white .menu {
      color: #000000; }
    .header--white .menu-icon {
      background-image: url("../img/icon-hamburger.svg"); }
  .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    background-color: #FFFFFF;
    padding: 80px 25px; }
    .menu__item {
      margin-right: 0;
      margin-bottom: 35px; }
      .menu__item:last-child {
        margin-bottom: 0; }
    .menu.open {
      left: 0; }
  .menu-icon {
    position: relative;
    z-index: 100;
    display: block;
    width: 34px;
    height: 34px;
    background-image: url("../img/icon-hamburger_black.svg");
    background-repeat: no-repeat;
    background-size: cover; }
    .menu-icon.open {
      background-image: url("../img/icon-close.svg");
      background-size: 70%;
      background-position: center; } }

.top-info {
  background-image: url("../img/top-info_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -124px;
  padding-top: 124px;
  position: relative;
  z-index: 10; }
  .top-info__icon {
    position: absolute;
    bottom: 0;
    right: 14.5%;
    width: 11%; }
  .top-info__inner {
    padding: 276px 0 368px; }

.top-info-content {
  max-width: 795px; }
  .top-info-content h1, .top-info-content h3, .top-info-content__button {
    transform: translateY(-150%);
    opacity: 0;
    -webkit-animation: appearance 1s linear forwards;
    animation: appearance 1s linear forwards; }
  .top-info-content h1, .top-info-content h3 {
    color: #FFFFFF; }
  .top-info-content h1 {
    padding-bottom: 24px; }
  .top-info-content h3 {
    padding-bottom: 50px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }
  .top-info-content__button {
    -webkit-animation-delay: 2s;
    animation-delay: 2s; }

@-webkit-keyframes appearance {
  0% {
    transform: translateY(150%);
    opacity: 0.5; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes appearance {
  0% {
    transform: translateY(150%);
    opacity: 0.5; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@media screen and (max-width: 1023px) {
  .top-info {
    margin-top: -74px;
    padding-top: 74px; }
    .top-info__inner {
      padding: 74px 0 120px; }
  .top-info-content h1 {
    padding-bottom: 11px; }
  .top-info-content h3 {
    padding-bottom: 35px; } }

@media screen and (max-width: 767px) {
  .top-info__icon {
    width: 14%;
    right: -8%; } }

.bread-crumbs {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 13px 0; }
  .bread-crumbs__link {
    text-decoration: underline; }
  .bread-crumbs__item {
    position: relative;
    padding-right: 20px;
    margin-right: 12px; }
    .bread-crumbs__item:after {
      content: "/";
      position: absolute;
      right: 0; }
    .bread-crumbs__item:last-child {
      color: #B3B3B3;
      pointer-events: none;
      padding-right: 0;
      margin-right: 0; }
      .bread-crumbs__item:last-child:after {
        content: none; }
      .bread-crumbs__item:last-child .bread-crumbs__link {
        text-decoration: none; }

@media screen and (max-width: 1023px) {
  .bread-crumbs {
    padding: 5px 0; } }

.content__inner {
  padding: 40px 0 118px; }

.content--grey {
  background-color: #F9F9F9; }

.content--catalog .content__inner {
  padding-bottom: 80px; }

.content-contacts h2 {
  margin-bottom: 30px; }

.content-contacts__row {
  display: flex;
  align-items: center;
  margin: 0 -10px 38px; }
  .content-contacts__row:last-child {
    margin-bottom: 0; }

.content-contacts__col {
  width: 50%;
  padding: 0 10px; }

.content-contacts__map iframe {
  width: 100%; }

.content-contacts__info {
  margin-left: 70px; }

.content-contacts__info-main {
  line-height: 1.75;
  margin-bottom: 12px; }

.content-contacts__phone {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  font-size: 22px;
  font-weight: 600; }
  .content-contacts__phone:before {
    content: "";
    width: 21px;
    height: 21px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0; }

.content-catalog {
  display: flex; }
  .content-catalog h2 {
    margin-bottom: 7px; }
  .content-catalog__left {
    display: flex;
    flex-direction: column;
    width: 304px; }
  .content-catalog__right {
    width: calc(100% - 304px);
    padding-top: 70px;
    padding-left: 20px; }
  .content-catalog__button {
    width: 100%;
    margin-top: 27px; }

.content-about__row {
  display: flex;
  padding-top: 35px; }
  .content-about__row--article {
    padding-top: 7px; }
    .content-about__row--article .content-about__left {
      padding-right: 70px; }
    .content-about__row--article .content-about__right {
      padding-left: 0; }

.content-about__left, .content-about__right {
  width: 50%; }

.content-about__right {
  padding-left: 80px; }

.content-about__img {
  display: block;
  width: 100%; }

.content-about__info {
  line-height: 1.62; }
  .content-about__info p {
    padding: 15px 0; }
    .content-about__info p:first-of-type {
      padding-top: 0; }
    .content-about__info p:last-of-type {
      padding-bottom: 0; }
    .content-about__info p a {
      color: #388E3C;
      text-decoration: underline; }

.content-about__button {
  margin-top: 35px; }

.content-about__bottom {
  display: flex;
  padding-top: 20px; }
  .content-about__bottom .button:nth-child(2) {
    margin-left: 13px; }

@media screen and (max-width: 1023px) {
  .content__inner {
    padding: 25px 0 60px; }
  .content--catalog .content__inner {
    padding-top: 10px;
    padding-bottom: 70px; }
  .content-catalog {
    flex-direction: column; }
    .content-catalog h2 {
      margin-top: 20px;
      margin-bottom: 0;
      order: 1; }
    .content-catalog__left, .content-catalog__right {
      width: 100%; }
    .content-catalog__right {
      padding-left: 0;
      padding-top: 38px; }
    .content-catalog__button {
      order: 2;
      margin-top: 20px;
      margin-bottom: 27px; }
  .content-contacts__info {
    margin-left: 40px; }
  .content-contacts__map iframe {
    height: 410px; }
  .content-about__right {
    padding-left: 40px; }
  .content-about__row--article .content-about__left {
    padding-right: 40px; }
  .content-about__bottom {
    flex-direction: column;
    align-items: flex-start; }
    .content-about__bottom .button:nth-child(2) {
      margin-left: 0;
      margin-top: 15px; } }

@media screen and (max-width: 767px) {
  .content-contacts {
    padding-top: 20px; }
    .content-contacts h2 {
      margin-bottom: 15px; }
    .content-contacts__row {
      flex-wrap: wrap;
      margin: 0 0 60px 0; }
      .content-contacts__row:last-of-type {
        margin-bottom: 0; }
    .content-contacts__col {
      padding: 0;
      width: 100%; }
      .content-contacts__col--map {
        order: -1;
        margin-bottom: 30px; }
    .content-contacts__info {
      margin-left: 0; }
  .content-about__row {
    flex-wrap: wrap;
    padding-top: 15px; }
  .content-about__left, .content-about__right {
    width: 100%; }
  .content-about__right {
    padding-left: 0;
    padding-top: 25px; }
  .content-about__img {
    max-width: 400px; } }

.about__inner {
  padding: 116px 0 70px;
  display: flex; }

.about__left, .about__right {
  width: 50%; }

.about__img {
  display: block;
  width: 100%; }

.about__right {
  padding-left: 85px; }

.about__info {
  margin-top: 70px;
  line-height: 1.75; }
  .about__info p {
    padding: 10px 0; }
    .about__info p:first-of-type {
      padding-top: 0; }
    .about__info p:last-of-type {
      padding-bottom: 0; }
    .about__info p a {
      text-decoration: underline;
      color: #388E3C; }

.about__button {
  margin-top: 25px; }

@media screen and (max-width: 1023px) {
  .about__inner {
    padding: 60px 0; }
  .about__right {
    padding-left: 40px; }
  .about__info {
    margin-top: 10px; } }

@media screen and (max-width: 767px) {
  .about__inner {
    flex-wrap: wrap; }
  .about__left, .about__right {
    width: 100%; }
  .about__right {
    padding-left: 0; }
  .about__img {
    max-width: 400px;
    margin: 0 auto; }
  .about__info {
    margin-top: 0; } }

.products {
  background-color: #F9F9F9; }
  .products__inner {
    padding: 109px 0 170px; }
  .products__row {
    display: flex;
    margin: 0 -10px;
    padding-top: 35px; }
  .products__col {
    width: 16.666%;
    padding: 0 10px; }
  .products--article .products__inner {
    padding-top: 57px;
    padding-bottom: 125px; }

.products-slider-wrapper {
  position: relative; }

.products-slider-arrow__prev, .products-slider-arrow__next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("../img/icon-slider-arrow_left.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 70% center;
  transition: all ease-in-out .15s;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 25px); }
  .products-slider-arrow__prev:hover, .products-slider-arrow__next:hover {
    background-color: #FFFFFF;
    box-shadow: 0 8px 20px rgba(214, 222, 226, 0.42);
    transition: all ease-in-out .3s; }

.products-slider-arrow__prev {
  left: -70px; }

.products-slider-arrow__next {
  right: -70px;
  background-image: url("../img/icon-slider-arrow_right.svg");
  background-position: 30% center; }

.product-card {
  display: block;
  background-color: #FFFFFF;
  border-radius: 5px;
  position: relative;
  transition: all ease-in-out .15s; }
  .product-card:hover {
    box-shadow: 0 15px 20px rgba(109, 141, 158, 0.13);
    transition: all ease-in-out .3s; }
    .product-card:hover .product-card__img {
      filter: blur(7.5px);
      transition: all ease-in-out .3s; }
  .product-card__img-wrapper {
    position: relative;
    height: 334px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden; }
  .product-card__img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all ease-in-out .15s; }
  .product-card__info {
    text-align: center;
    font-size: 14px;
    padding: 23px 10px; }
  .product-card__label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background: linear-gradient(90deg, #348C3C 0%, #026B42 100%);
    box-shadow: 0 10px 16px rgba(2, 107, 66, 0.37);
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    left: calc(50% - 38px);
    top: -15px;
    z-index: 10; }
    .product-card__label span {
      display: inline-block; }

@media screen and (max-width: 1450px) {
  .products-slider-arrow__prev, .products-slider-arrow__next {
    display: none; } }

@media screen and (max-width: 1023px) {
  .products__inner {
    padding-top: 40px;
    padding-bottom: 107px; }
  .products__row {
    padding-top: 43px; }
  .products--article .products__inner {
    padding-top: 40px;
    padding-bottom: 130px; } }

.advantages {
  background-color: #FFFFFF; }
  .advantages__inner {
    padding: 111px 0 154px;
    max-width: 1058px;
    margin: 0 auto; }
  .advantages__row {
    display: flex;
    padding-top: 100px;
    margin: 0 -10px; }
  .advantages__col {
    width: 25%;
    padding: 0 10px; }
  .advantages__bottom {
    text-align: center;
    padding-top: 67px; }
  .advantages--show .advantages__col {
    transform: translateX(150%);
    opacity: 0;
    -webkit-animation: appearance-left 1s ease-in-out forwards;
    animation: appearance-left 1s ease-in-out forwards; }
    .advantages--show .advantages__col:nth-child(2) {
      -webkit-animation-delay: 1s;
      animation-delay: 1s; }
    .advantages--show .advantages__col:nth-child(3) {
      -webkit-animation-delay: 2s;
      animation-delay: 2s; }
    .advantages--show .advantages__col:nth-child(4) {
      -webkit-animation-delay: 3s;
      animation-delay: 3s; }

@-webkit-keyframes appearance-left {
  0% {
    transform: translateX(-150%);
    opacity: 0.5; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes appearance-left {
  0% {
    transform: translateX(-150%);
    opacity: 0.5; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

.advantages-card {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .advantages-card__img {
    display: block;
    height: 70px; }
  .advantages-card__title {
    margin-top: 17px;
    font-size: 14px;
    line-height: 1.43;
    text-align: center; }

@media screen and (max-width: 767px) {
  .advantages h2 {
    line-height: 1.45;
    padding-bottom: 17px; }
  .advantages__inner {
    padding-top: 60px;
    padding-bottom: 90px; }
  .advantages__row {
    padding-top: 50px;
    flex-wrap: wrap;
    margin: 0; }
  .advantages__col {
    width: 100%;
    padding: 0;
    margin-bottom: 45px; }
    .advantages__col:last-of-type {
      margin-bottom: 0; }
  .advantages__bottom {
    padding-top: 45px; } }

.request {
  background-image: url("../img/request_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .request__inner {
    width: 100%;
    max-width: 1025px;
    margin: 0 auto;
    padding: 166px 20px; }
  .request__icon {
    position: absolute;
    bottom: 0;
    right: calc(50% - 105px);
    width: 210px; }

.request-block {
  text-align: center;
  color: #FFFFFF;
  position: relative;
  z-index: 10; }
  .request-block__description {
    font-size: 20px;
    line-height: 3.3;
    padding-top: 20px; }

.request-form__row {
  display: flex;
  margin: 0 -10px;
  padding-bottom: 20px; }

.request-form__col {
  width: 33.33%;
  padding: 0 10px; }

.request-form__bottom {
  padding-top: 20px;
  text-align: center; }

.request-form__text {
  margin-bottom: 22px;
  line-height: 1.44; }
  .request-form__text a {
    text-decoration: underline; }

@media screen and (max-width: 767px) {
  .request__inner {
    max-width: 100%;
    padding: 70px 10px 90px; }
  .request__icon {
    opacity: 0.5; }
  .request-block__description {
    line-height: 1.65;
    padding-bottom: 45px; }
  .request-form__row {
    margin: 0;
    flex-wrap: wrap; }
  .request-form__col {
    width: 100%;
    padding: 0;
    margin-bottom: 20px; }
    .request-form__col:last-of-type {
      margin-bottom: 0; } }

.filters-wrapper__title {
  display: none; }

.filters {
  background-color: #FFFFFF;
  box-shadow: 0 15px 20px rgba(109, 141, 158, 0.1);
  border-radius: 5px;
  padding: 34px 25px 25px 40px;
  margin: 0;
  list-style: none; }

.filters > li {
  padding: 0; }

.filters > li > a {
  display: block;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  width: 100%;
  position: relative;
  padding: 10px 0; }
  .filters > li > a:after {
    content: "";
    background-image: url("../img/icon-arrow_top.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 10px;
    height: 5px;
    position: absolute;
    right: -3px;
    top: 10px;
    transform: rotateX(180deg); }
  .filters > li > a.open:after {
    transform: rotate(0); }

.filters > li > ul {
  display: none;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 24px;
  max-height: 220px;
  overflow-y: auto; }
  .filters > li > ul::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: #DCE9F0; }
  .filters > li > ul::-webkit-scrollbar-thumb {
    background-color: #398E3D;
    border-radius: 0;
    width: 3px; }
  .filters > li > ul::-webkit-scrollbar-thumb:hover {
    background-color: #398E3D; }

.filters > li.active > ul {
  display: block; }

.filters > li > ul > li {
  margin-bottom: 15px; }
  .filters > li > ul > li:last-of-type {
    margin-bottom: 0; }

@media screen and (max-width: 1023px) {
  .filters-wrapper {
    order: 3;
    box-shadow: 0 15px 20px rgba(109, 141, 158, 0.1);
    border-radius: 5px;
    background-color: #FFFFFF;
    cursor: pointer; }
    .filters-wrapper__title {
      display: block;
      font-size: 17px;
      font-weight: 500;
      padding: 20px 20px 20px 40px;
      position: relative; }
      .filters-wrapper__title:after {
        content: "";
        background-image: url("../img/icon-arrow_top.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 10px;
        height: 5px;
        position: absolute;
        right: 21px;
        top: 27px;
        transform: rotateX(180deg); }
      .filters-wrapper__title.open:after {
        transform: rotateX(0); }
  .filters {
    display: none;
    padding: 35px 20px 20px 40px; }
    .filters.open {
      display: block; }
  .filters > li > a:after {
    right: 0; } }

.catalog-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -10px; }
  .catalog-gallery__col {
    width: 33.33%;
    padding: 10px; }

@media screen and (max-width: 767px) {
  .catalog-gallery__col {
    width: 50%; } }

@media screen and (max-width: 575px) {
  .catalog-gallery {
    margin: 0; }
    .catalog-gallery__col {
      width: 100%;
      padding: 0;
      margin-bottom: 30px; }
      .catalog-gallery__col:last-of-type {
        margin-bottom: 0; } }

.certificates {
  background-color: #F9F9F9; }
  .certificates__inner {
    padding-top: 83px;
    padding-bottom: 109px; }
  .certificates h2 {
    margin-bottom: 55px; }

.certificates-gallery {
  display: flex;
  margin: 0 -10px;
  max-width: 870px;
  margin: 0 auto; }
  .certificates-gallery__col {
    width: 33.33%;
    padding: 0 10px; }
  .certificates-gallery__item img {
    display: block;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.13); }

.certificates-gallery-wrapper {
  position: relative; }

.certificates-gallery-arrow__prev, .certificates-gallery-arrow__next {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFFFFF;
  background-image: url("../img/icon-slider-arrow_left.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 70% center;
  transition: all ease-in-out .15s;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 25px);
  box-shadow: 0 8px 20px rgba(214, 222, 226, 0.42);
  z-index: 10; }

.certificates-gallery-arrow__prev {
  left: -10px; }

.certificates-gallery-arrow__next {
  right: -10px;
  background-image: url("../img/icon-slider-arrow_right.svg");
  background-position: 30% center; }

.compensate-for-scrollbar {
  margin-right: 0 !important; }

.fancybox-button {
  background: #388E3C; }

.fancybox-button {
  color: #000000; }
  .fancybox-button:link {
    color: #000000; }
  .fancybox-button:visited {
    color: #000000; }
  .fancybox-button:hover {
    color: rgba(0, 0, 0, 0.7); }

.fancybox-slide--image .fancybox-content {
  padding: 10px;
  background: #FFFFFF; }

.fancybox-image {
  padding: 10px; }

@media screen and (max-width: 767px) {
  .certificates-gallery-arrow {
    display: block; }
  .certificates {
    background-color: #FFFFFF; }
    .certificates__inner {
      padding-top: 0;
      padding-bottom: 60px; }
    .certificates h2 {
      margin-bottom: 40px; }
  .certificates-gallery__col {
    padding-top: 20px;
    padding-bottom: 20px; }
  .certificates-gallery__item img {
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.13); } }

@media screen and (max-width: 499px) {
  .certificates-gallery {
    margin: 0 -20px; }
    .certificates-gallery__col {
      padding: 20px 25px; } }

.footer {
  background-color: #F5F5F5;
  height: 86px; }
  .footer .wrapper {
    height: 100%; }
  .footer__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .footer__text {
    font-weight: 300;
    font-size: 15px; }
