.button {
  width: 100%;
  background-color: $blue;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.25;
  color: $white;
  padding: 9px;
  text-align: center;
  border-radius: 24px;
  cursor: pointer;
  transition: opacity ease-in-out .15s;

  &:hover {
    opacity: 0.8;
    transition: opacity ease-in-out .3s;
  }
}

@media (max-width: 767px) {
  .button {
    font-size: 16px;
    padding: 10px;
  }
}