.card-description {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__place {
    font-size: 14px;
    line-height: 1.15;
    font-weight: 600;
    color: $blue;

    &--online {
      color: $green;
    }
  }
  &__type {
    font-size: 14px;
    line-height: 1.15;
    color: $gray;
  }
}