.release-mark {
  background-color: $gray-dark;
  border-radius: 8px 0 8px 8px;
  width: 73px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  &__text {
    font-weight: 600;
    color: $white;
    font-size: 14px;
    padding-bottom: 4px;

    &:last-of-type {
      padding-bottom: 0;
    }

    &--big {
      font-size: 32px;
      padding-bottom: 0;
    }

  }
}

@media (max-width: 767px) {
  .release-mark {
    width: 62px;
    height: 68px;

    &__text {
      font-size: 12px;
      &--big {
        font-size: 26px;
      }
    }
  }
}