.user {
  display: flex;
  align-items: center;

  &__img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: solid 1px $gray;

    img {
      display: block;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &__name {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.1;
    color: $dark-main;
    padding-left: 8px;
  }
}