@font-face {
    font-family: 'latoheavy';
    src: url('../fonts/lato-heavy-webfont.eot');
    src: url('../fonts/lato-heavy-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato-heavy-webfont.woff2') format('woff2'),
    url('../fonts/lato-heavy-webfont.woff') format('woff'),
    url('../fonts/lato-heavy-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato-regular-webfont.woff2') format('woff2'),
    url('../fonts/lato-regular-webfont.woff') format('woff'),
    url('../fonts/lato-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


textarea {
    resize: vertical;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hidden {
    display: none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

body {
    font-family: 'latoregular', sans-serif;
    color: #000000;
    font-size: 16px;
}
.container {
    padding-right: 0;
    padding-left: 0;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
.form-group {
    margin-bottom: 0;
}
.popover {
    border: none;
    background-color: #ffffff;
}
.popover-body {
    padding: 30px 30px 30px 25px;
    background-color: #ffffff;
    box-shadow: 0 9px 80px 0 rgba(188,188,188,0.4);
    border-radius: 10px;
}
.bs-popover-right  {
    margin-left: 15px;
}
.bs-popover-left {
    margin-right: 15px;
}
.bs-popover-auto[x-placement^=right] .arrow::before, .bs-popover-right .arrow::before {
    border-right-color: transparent;
}
.bs-popover-auto[x-placement^=right] .arrow::after, .bs-popover-right .arrow::after {
    border-right-color: #fff;
}
.bs-popover-auto[x-placement^=left] .arrow::before, .bs-popover-left .arrow::before {
    border-left-color: transparent;
}

/*общие стили*/
.text-bold {
    font-family: 'latoheavy', sans-serif;
}
/*иконки*/
.icon {
    display: inline-block;
    background-size: cover !important;
    cursor: pointer;
    z-index: 10;
}
.icon-phone-blue {
    background: url("../img/svg/phone_blue.svg") no-repeat;
    width: 28px;
    height: 28px;
}
.icon-phone-white {
    background: url("../img/svg/phone_white.svg") no-repeat;
    width: 28px;
    height: 28px;
}
.icon-plus {
    background: url("../img/svg/plus.svg") no-repeat;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.icon-plus--active {
    background: url("../img/svg/plus-active.svg") no-repeat;
}
.icon-ruble {
    background: url("../img/svg/ruble.svg") no-repeat;
    width: 82px;
    height: 82px;
}
.icon-clock {
    background: url("../img/svg/clock.svg") no-repeat;
    width: 99px;
    height: 73px;
}
.icon-truck {
    background: url("../img/svg/truck.svg") no-repeat;
    width: 86px;
    height: 57px;
}
.icon-like {
    background: url("../img/svg/like.svg") no-repeat;
    width: 69px;
    height: 73px;
}
.icon-quotes {
    background: url("../img/svg/quotes.svg") no-repeat;
    width: 34px;
    height: 27px;
}
.icon-location-blue {
    background: url("../img/svg/location_blue.svg") no-repeat;
    width: 21px;
    height: 30px;
}
.icon-location-orange {
    background: url("../img/svg/location_orange.svg") no-repeat;
    width: 21px;
    height: 30px;
}
.icon-play {
    background: url("../img/svg/play.svg") no-repeat;
    width: 41px;
    height: 46px;
}
.border-line {
    border-bottom: 2px solid transparent;
    border-top: 0;
    border-image: url(../img/svg/line.svg) 2;
}
.border-line-start {
    border-right: 2px solid transparent;
    border-left: 0;
    border-image: url(../img/svg/line-start.svg) 2;
}
.border-line-end {
    border-right: 2px solid transparent;
    border-left: 0;
    border-image: url(../img/svg/line-end.svg) 2;
}
/*падинг*/
.top-buffer {
    margin-top:20px;
}
.header {
    padding: 25px 0;
}
.header__logo img{
    width: 126px;
}
.phone-contacts {
    display: flex;
    flex-direction: column;
}
.phone-contacts--left-pad {
    padding-left: 50px;
}
.phone-contacts__block {
    display: flex;
    align-items: center;
}
.header-phone img{
    width: 28px;
}
.phone-contacts__text {
    font-size: 24px;
    padding-left: 10px;
    color: #000000;
    text-decoration: none;
}
.phone-contacts__text:hover {
    color: #000000;
    text-decoration: none;
}
.header-schedule {
    padding-left: 38px;
    font-weight: normal;
    color: #d1d3d5;
}
.header__buttons {
    display: flex;
    justify-content: flex-end;
}
.header__button {
    width: 205px !important;
}
.header__button:last-child {
    margin-left: 25px;
}
/*общие кнопки*/
.button {
    display: inline-block;
    width: 100%;
    padding: 14px 15px;
    border-radius: 7px;
    font-family: 'latoheavy', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.button:hover {
    text-decoration: none;
    color: #ffffff;
    transition: ease-in-out background-color .15s;
}
.button--orange {
    background-color: #f7a900;
    box-shadow: 0 10px 30px 0 rgba(247, 169, 0, 0.2);
}
.button--orange:hover {
    background-color: #e09a03;
    box-shadow: 0 10px 30px 5px rgba(247,169,0,0.2);
    transition: all ease .15s;
}
.button--orange:active {
    box-shadow: none;
    transition: all ease .15s;
}
.button--blue {
    background-color: #0ea9e2;
    box-shadow: 0 10px 30px 0 rgba(14, 169, 226, 0.2);
    transition: all ease .15s;
}
.button--blue:hover {
    background-color: #0c97ca;
    box-shadow: 0 10px 30px 5px rgba(14, 169, 226, 0.2);
    transition: all ease .15s;
}
.button--blue:active {
    box-shadow: none;
    transition: all ease .15s;
}
.button--white {
    background-color: #ffffff;
    color: #273590;
    box-shadow: 0 10px 30px 0 rgba(39, 53, 144, 0.1);
    transition: all ease .15s;
}
.button--white:hover {
    background-color: #f9f9f9;
    box-shadow: 0 10px 30px 5px rgba(39, 53, 144, 0.1);
    transition: all ease .15s;
    color: #273590;
}
.button--white:active {
    box-shadow: none;
    transition: all ease .15s;
}
.button--shadow-none {
    box-shadow: none;
}

/*навигация*/
.navigation {
    padding: 25px 0;
}
.navigation__list {
    list-style: none;
    padding-left: 0;
    display: inline-block;
}
.navigation__item {
    display: inline-block;
    margin-right: 22px;
}
.navigation__item:last-child {
    margin-right: 0;
}
.navigation__link {
    font-size: 16px;
    color: #0ea9e2;
}
.navigation__link:hover {
    color: #0c97ca;
    text-decoration: none;
}
.navigation__options {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.navigation-downloads {
    display: flex;
}
.navigation-downloads__item:first-child {
    margin-right: 10px;
}
.navigation-service__link {
    color: #f7a900;
    position: relative;
    padding-left: 27px;
}
.navigation-service__link:hover {
    color: #e09a03;
    text-decoration: none;
}
.navigation-service__link:before {
    content: "";
    background: url("../img/svg/repairs.svg");
    width: 17px;
    height: 17px;
    position: absolute;
    left: 0;
    top: 0;
}
.navigation-downloads__link {
    color: #273590;
    position: relative;
    margin-right: 10px;
    padding-left: 16px;
}
.navigation-downloads__link:hover {
    color: #1c266c;
    text-decoration: none;
}
.navigation-downloads__link:last-child {
    margin-right: 0;
}
.navigation-downloads__link:before {
    content: "";
    background: url("../img/svg/download.svg");
    width: 9px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 7px;
}
/*цены баннер*/
.price {
    background: url("../img/price_bg.png") no-repeat 65%;
    background-size: cover;
}
.price__inner {
    padding-top: 165px;
    padding-bottom: 168px;
    display: flex;
    flex-direction: column;
}
.price__title {
    color: #273590;
    font-size: 44px;
}
.price__description {
    margin: 35px 0;
    font-size: 30px;
    color: #f7a900;
}
.price__button {
    width: 205px;
}
/*слайдер*/
.slider-price__body {
    margin-bottom: 65px;
    margin-top: -45px;
    padding: 0 75px;
}
.price-card {
    height: 85px;
    position: relative;
    outline: none;
    cursor: pointer;
}
.price-card img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.price-card__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price-card__inner--blue {
    background-color: rgba(39,53,144,0.8);
}
.price-card__inner--orange {
    background-color: rgba(226,160,25,0.8);
}
.price-card__text {
    font-family: 'latoheavy', sans-serif;
    color: #ffffff;
    text-align: center;
}

/*кастомизация слайдера*/
.slick-slide {
    margin: 0 10px;
}
.slick-list {
    margin: 0 -10px;
}
.slick-prev {
    left: -60px;
}
.slick-next {
    right: -60px;
}
.slick-prev:before, .slick-next:before {
    opacity: 1;
    box-shadow: 0 10px 30px 0 rgba(39, 53, 144, 0.2);
    border-radius: 50%;
}


.slick-prev:before {
    display: block;
    content: "";
    background: url("../img/svg/arrow-prev.svg") no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
}
.slick-next:before {
    display: block;
    content: "";
    background: url("../img/svg/arrow-next.svg") no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
}
.slick-prev, .slick-next {
    top: calc(50% - 10px);
    width: 40px;
    height: 40px;
}
/*портфолио*/
.portfolio__inner {
    background: url("../img/portfolio.jpg") no-repeat;
    background-size: cover;
    padding-top: 65px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio__title {
    font-size: 30px;
    color: #0ea9e2;
    margin-bottom: 40px;
    text-align: center;
}
.portfolio__button {
    width: 230px;
}
/*предложения*/
.offers {

}
.offers__header {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.offers__title {
    font-size: 36px;
    margin-bottom: 25px;
}
/*кастомизация табов*/
/*.nav-tabs {*/
    /*width: 100%;*/
    /*border-bottom: solid 2px #edf5fb;*/
/*}*/

.menu-line {
    width: 100%;
    border-bottom: 2px solid transparent;
    border-image: url("../img/svg/line.svg") 2;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
/*.nav-tabs {*/
    /*border: none;*/
/*}*/
.nav {
    justify-content: center;
    margin-bottom: -6px;
}
.nav-link {
    margin: 0 45px;
    padding: 35px 0;
}
.nav-tabs {
    border-bottom: 7px solid transparent;
}
.nav-tabs .nav-item {
    margin-bottom: -9px;
}
.nav-tabs .nav-link {
    border-top: 0;
    color: #152b75;
    font-size: 24px;
    border-bottom: 7px solid transparent;
}
.nav-tabs .nav-link.active {
    border-top: 0;
    border-image: url("../img/svg/border-tab.svg") 7;
    border-bottom: 7px solid transparent;
    /*margin-bottom: -5px;*/
    color: #30b0e4;
    font-family: 'latoheavy', sans-serif;
}
.nav-tabs .nav-link:hover {
    border-top: 0;
    border-image: url("../img/svg/border-tab.svg") 7;
    border-bottom: 7px solid transparent;
}
/*карточка в табах*/
.tab-content {
    width: 100%;
}
.tab-info {
    background: url("../img/tab-info_bg.png") no-repeat;
    background-size: cover;
    height: 460px;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.tab-info__img {
    background: url("../img/window.png") no-repeat;
    background-size: cover;
    width: 206px;
    height: 384px;
    position: relative;
}
.tab-info__icon {
    position: absolute;
}
.tab-info__icon--1 {
    bottom: 40px;
    left: -10px;
}
.tab-info__icon--2 {
    bottom: 85px;
    right: 50px;
}
.tab-info__icon--3 {
    top: 60px;
    left: 50px;
}
.tab-info__icon--4 {
    top: -10px;
    right: -20px;
}
.tab-tooltip__icon {
    margin-bottom: 30px;
}
.tab-tooltip__icon img{
    width: 135px;
}
.tab-tooltip__text {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
.tab-card--empty {
    padding: 20px 0;
    text-align: center;
}
.tab-card__img {
    /*margin: 90px 50px 0 -50px;*/
    margin: 90px 50px 0 -155px;
}
.tab-card__inner {
    display: flex;
    flex-direction: column;
    margin: 95px 0 150px;
}
.tab-card__title {
    font-size: 20px;
}
.tab-card__price {
    font-size: 30px;
    color: #f7a900;
    margin-bottom: 50px;
}
.tab-card__text {
    padding-left: 35px;
    position: relative;
}
.tab-card__text:before {
    content: "";
    position: absolute;
    background: url("../img/svg/checkbox.svg");
    background-size: cover;
    width: 18px;
    height: 18px;
    top: 5px;
    left: 0;
}
.tab-card__button {
    width: 250px;
    margin-top: 50px;
}
/*форма обратная связь*/
.call-form {
    background: url("../img/call-form_bg.jpg") no-repeat;
    background-size: cover;
}
.call-form__inner {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    position: relative;
}
.call-form__inner:after {
    display: none;
    content: '';
    width: 450px;
    height: 100%;
    background: url(../img/call-form_man.png) no-repeat;
    background-size: cover;
    position: absolute;
    right: -480px;
    bottom: 20px;
}
.call-form__title {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 35px;
}
.call-form__descriptions {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 40px;
}
.call-form__contact {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.call-form__contact--center {
    align-items: center;
}
.call-form__text {
    color: #ffffff;
}
.call-form__text--top-pad {
    margin-top: 20px;
}
.call-form-phone {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.call-form-phone__text {
    font-family: 'latoheavy', sans-serif;
    color: #ffffff;
    font-size: 24px;
}
.call-form-phone__text--left-pad {
    padding-left: 10px;
}
.call-form__icon {
    position: absolute;
    right: 0;
    content: "";
    background: url(../img/call-form_man.png) no-repeat;
    background-size: contain;
    width: 490px;
    height: 100%;
    bottom: 0;
}
.call-form__form {
    margin-bottom: 50px;
}
/*продукция*/
.production {
    background: url("../img/production_bg.jpg") no-repeat;
    background-size: cover;
}
.production__inner {
    padding: 85px 0 110px;
}
.production__title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}
.production__img {
    width: 100%;
    height: 300px;
    cursor: pointer;
    position: relative;
}
.production__img--top-pad {
    margin-top: 30px;
}
.production__img--small {
    height: 175px;
}
.production__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.production__info {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(21,43,117,0.5);
    display: none;
}
.production__img:hover .production__info {
    display: block;
}
.production__text {
    background-color: #0ea9e2;
    color: #ffffff;
    font-size: 20px;
    font-family: 'latoheavy', sans-serif;
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 12px 15px;
}
.production__text--small {
    font-size: 16px;
}
.production__img:hover .production__text {
    display: none;
}
.production__info {
    padding: 20px;
}
.production__label {
    font-family: 'latoheavy', sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
}
.production__label--small {
    font-size: 16px;
}
.production__description {
    color: #ffffff;
}


/*приемущества*/
.advantages__inner {
    padding: 100px 0 50px;
}
.advantages__title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 80px;
}
.advantages-card {
    display: flex;
    padding: 50px 0;
}
.advantages-card__icon {
    min-width: 99px;
    display: flex;
    justify-content: flex-end;
}
.advantages-card__text {
    margin-left: 35px;
}
.advantages-card__title {
    font-size: 24px;
    color: #f7a900;
    margin-bottom: 15px;
}
.advantages-card__description {
    line-height: 24px;
}

/*галерея*/
.gallery {

}
.gallery__inner {
    padding: 20px 0 100px;
}
.gallery__body {
    padding: 0 75px;
    text-align: center;
}
.gallery__title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 70px;
}

.gallery-card {
    height: 340px;
    outline: none;
    position: relative;
    border-radius: 10px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    box-shadow: 0 6px 33px 1px rgba(50, 50, 50, 0.29);
    margin: 20px;
}
.gallery-card--small {
    height: 220px;
}
.gallery-card__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.43) 10%, rgba(0, 0, 0, 0) 30%);
}
.gallery-card__inner--center {
    align-items: center;
    justify-content: center;
}
.gallery-card__text {
    font-family: 'latoheavy', sans-serif;
    color: #ffffff;
    padding-bottom: 35px;
    padding-left: 30px;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    text-align: left;
}
.gallery-card img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.gallery-card video {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.gallery__slider-small {
    margin-top: 80px;
}
.gallery__button {
    margin-top: 65px;
    width: 235px;
}
/*вопросы*/
.issues {
    background: url("../img/issues_bg.jpg") no-repeat;
    background-size: cover;
}
.issues__inner {
    padding: 80px 0;
}
.issues__title {
    text-align: center;
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 55px;
}
.issues-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.issues-card__title {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 25px;
}
.issues-card__photo {

}
.issues-card__photo img {
    width: 100%;
    border-radius: 10px;
}
.issues-card__button {
    margin-top: -20px;
    width: 254px;
}
/*отзывы*/
.reviews {
    background: url("../img/reviews_bg.jpg") no-repeat;
    background-size: cover;
}
.reviews__inner {
    padding: 110px 0 75px;
}
.reviews__title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 60px;
}
.reviews__body {
    padding: 0 60px;
    text-align: center;
}
.reviews__button {
    margin-top: 65px;
    width: 215px;
}
.reviews-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 70px 25px 30px 35px;
    box-shadow: 1px -1px 10px -1px rgba(0,0,0,0.1);
    text-align: left;
    position: relative;
}
.reviews-card__icon {
    position: absolute;
    top: 25px;
    left: 35px;
}
.reviews-card__text {
    height: 315px;
    overflow-y: hidden;
    margin-bottom: 25px;
}
.reviews-card__text p {
    margin-bottom: 5px;
}
.reviews-card__name {
    font-size: 19px;
    color: #0ea9e2;
    margin-bottom: 10px;
}
.reviews-card__city {
    color: #787d83;
}
 /*партнеры*/
.partners__inner {
    padding: 115px 0 80px;
}
.partners__title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 65px;
}
.partners__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 185px;
}
/*контактная форма*/
.contact-form {
    background: url("../img/call-form_bg.jpg") no-repeat;
    background-size: cover;
}
.contact-form__inner {
    padding: 105px 0 75px;
    text-align: center;
}
.contact-form__title {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 35px;
}
.contact-form__description {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 40px;
}
/*футер*/
.footer {

}
.footer-map {
    height: 100%;
}
.address-block {
    padding: 65px 0 35px;
    display: flex;
    justify-content: space-between;
}
.address-block__contacts {
    display: flex;
    flex-direction: column;
}
.address-container {
    display: flex;
    flex-direction: column;
}
.address-container__block {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
}
.address-container__text {
    font-size: 18px;
    line-height: 26px;
    padding-left: 10px;
}
.shops-block {
    padding: 35px 0 60px;
}
.shops-block__title {
    font-size: 18px;
    margin-bottom: 30px;
}
.shops-block__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}
.shops-block__item:last-child {
    margin-bottom: 0;
}
.shops-info {
    padding-left: 18px;
}
.shops-info__address {
    font-family: 'latoheavy', sans-serif;
}
.shops-info__schedule {
    color: #d0d1d3;
    margin-top: 10px;
}
.footer__left {
    max-width: 600px;
    padding: 0 30px;
    margin: auto 0 auto auto;
}
@media (min-width: 1570px) {
    .call-form__inner:after {
        display: block;
    }
}
@media (max-width: 1200px) {
    .navigation__list {
        width: 100%;
        text-align: center;
    }
    .navigation__options {
        justify-content: center;
    }
}
@media (max-width: 992px) {
    .col-small {
        width: 50%;
    }
    .header__buttons {
        justify-content:flex-start;
        margin-top: 20px;
    }
    .header__button {
        width: 50% !important;
    }
    .navigation__item {
        margin-right: 15px;
    }
    .navigation__options {
        display: flex;
        justify-content: center;
    }
    .nav-link {
        margin: 0 25px;
        padding: 25px 0;
    }
    .price {
        background-position: 60%;
    }
    .portfolio__inner {
        padding-right: 10px;
        padding-left: 10px;
    }
    .issues-card {
        margin-bottom: 30px;
    }
    .production__img--top-pad-small {
        margin-top: 30px;
    }
    .col {
        flex-basis: auto;
    }
    .footer__left {
        margin: 0 auto;
    }
}
@media (max-width: 768px) {
    .production__img--top-pad-small {
        margin-top: 30px;
    }
    .phone-contacts--left-pad {
        padding-left: 0;
    }
    .contact-form__button {
        margin-top: 15px;
    }
    .offers__title {
        text-align: center;
    }
    .nav-link {
        margin: 0 20px;
        padding: 20px 0;
    }
}
@media (max-width: 576px) {

    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .col-sm-6 {
        display: flex;
        justify-content: center;
    }
    .header {
        padding: 25px 0 15px;
    }
    .header__logo {
        margin-bottom: 20px;
    }
    .header__buttons {
        flex-wrap: wrap;
    }
    .header__button {
        width: 100% !important;
    }
    .header__button:last-child {
        margin-left: 0;
        margin-top: 20px;
    }
    .navigation {
        padding: 15px 0 25px;
    }
    .navigation__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navigation__item {
        width: 100%;
        margin-right: 0;
    }
    .navigation__link {
        display: inline-block;
        width: 100%;
        padding: 10px;
        border-bottom: solid 1px #0c97ca;
    }
    .navigation__list {
        margin-bottom: 20px;
    }
    .navigation__options {
        margin-left: 0;
        flex-wrap: wrap;
    }
    .navigation-service {
        width: 100%;
        text-align: center;
    }
    .navigation-downloads {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
    }
    .nav-tabs .nav-link {
        font-size: 17px;
    }
    .nav-link {
        margin: 0 15px;
        padding: 15px 0;
    }
    .contact-form__inner {
        padding-top: 80px;
    }
    .portfolio__title {
        font-size: 23px;
    }
    .offers__header {
        padding-top: 50px;
    }
    .offers__title {
        font-size: 30px;
    }
    .tab-card__img {
        display: none;
    }
    .tab-card__inner {
        margin: 50px 15px;
    }
    .price {
        background-position: 55%;
    }
    .price__inner {
        padding: 80px 0;
    }
    .price__title {
        font-size: 30px;
    }
    .price__description {
        font-size: 25px;
    }
    .call-form__inner {
        padding: 50px 0;
    }
    .call-form__title {
        font-size: 28px;
    }
    .call-form__descriptions {
        font-size: 17px;
    }
    .call-form__form {
        margin-bottom: 25px;
    }
    .production__inner {
        padding: 50px 0;
    }
    .production__title {
        font-size: 30px;
    }
    .advantages__inner {
        padding: 50px 0;
    }
    .advantages-card {
        padding: 25px 0;
    }
    .advantages__title {
        font-size: 30px;
        margin-bottom: 40px
    }
    .advantages-card__text {
        margin-left: 15px;
    }
    .advantages-card__title {
        font-size: 20px;
    }
    .gallery__title {
        font-size: 27px;
        margin-bottom: 40px;
    }
    .slider-price__body {
        padding: 0;
    }
    .gallery__body {
        padding: 0;
    }
    .gallery__inner {
        padding-bottom: 50px;
    }
    .issues__inner {
        padding: 50px 0;
    }
    .issues__title {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .issues-card__title {
        text-align: center;
    }
    .reviews__inner {
        padding: 50px 0;
    }
    .reviews__title {
        font-size: 30px;
    }
    .reviews__body {
        padding: 0 15px;
    }
    .partners__inner {
        padding: 50px 0;
    }
    .partners__title {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .partners__logo {
        min-height: 150px;
    }
    .footer__left {
        padding: 0 15px;
    }
    .contact-form__inner {
        padding: 50px 0;
    }
    .contact-form__title {
        font-size: 28px;
    }
    .contact-form__description {
        font-size: 17px;
    }
    .address-block {
        flex-direction: column;
        padding-top: 35px;
    }
    .address-block__logo {
        text-align: center;
        margin-bottom: 30px;
    }
    .address-container__text {
        padding-left: 5px;
    }
    .phone-contacts__text {
        padding-left: 5px;
    }
    .shops-block__item {
        display: inline-block;
    }
    .shops-info {
        padding-left: 35px;
    }
    .icon-location-orange {
        float: left;
    }
    .footer-map {
        height: 200px;
    }
}


