extends _structure/_base

block content
    .top-panel
        .top-panel__inner
            .top-panel__block
                img.top-panel__logo(src="images/logos/logo.svg" width="290px")
                span.top-panel__text Получайте вознаграждение за правильное кормление

    .contest
        .contest__inner
            span.contest__title В какой сети вы приобрели корм?
            .contest__shops.contest__shops_row1
                .contest__item
                    img.contest__img(src="images/logos/companies/lubimchik.svg", data-shop="lubimchik")
                .contest__item
                    img.contest__img(src="images/logos/companies/lubimchik.svg", data-shop="lubimchik-plh1")
                .contest__item
                    img.contest__img(src="images/logos/companies/lubimchik.svg", data-shop="lubimchik-plh2")
                .contest__item
                    img.contest__img(src="images/logos/companies/cants_and_dogs.svg", data-shop="catsanddogs")
                .contest__item
                    img.contest__img.contest__img_lemurr(src="images/logos/companies/lemurr.svg", data-shop="lemurr")
            .contest__shops.contest__shops_row2
                .contest__item.contest__item_sm
                    img.contest__img.contest__img_sami-s-usami(src="images/logos/companies/sami_s_usami.svg", data-shop="samisusami")
                .contest__item.contest__item_sm
                    img.contest__img.contest__img_market(src="images/logos/companies/zoomarket.svg", data-shop="zoomarket")
                .contest__item.contest__item_sm
                    img.contest__img.contest__img_zverolash(src="images/logos/companies/zverolash.svg", data-shop="zverolash")
            .dropzone
                .dropzone__content
                    img.dropzone__photo#regPhoto(src="#")
                    input.dropzone__input-native#fileLoader(type="file", name="fileLoader")
                    input.dropzone__drop(type="hidden")
                    span Переместите сюда фотографию чека или
                    |
                    label.dropzone__link(for="fileLoader") загрузите
                    |
                    span с вашего устройства
                    .dropzone__send Отправить
                    label.dropzone__link.dropzone__link_additional(for="fileLoader") Загрузить другой чек
                    .dropzone__error Пожалуйста, выберите сеть, где Вы приобрели корм.
    .info
        .info__inner
            .info__title Как принять участие
            .info__row.info__row_1
                .info__step
                    .info__num 1
                    img.info__img(src="images/pics/goods.png")
                    .info__name Купите продукцию Royal Canin
                    .info__text на сумму<br>от 500 рублей
                .info__step
                    .info__num 2
                    img.info__img.info__img_book(src="images/pics/book.png")
                    .info__name Зарегистрируйте чек на сайте
                    .info__text и получитегарантированный приз —электронную энциклопедию
                .info__step
                    .info__num 3
                    img.info__img.info__img_bowl(src="images/pics/bowl.png")
                    .info__name Выйграйте<br>призы
                    .info__text мячик — каждому 10-му участнику,<br>миска — каждому 15-му<br>участнику
            .info__row.info__row_2
                .info__step
                    .info__num 4
                    img.info__img.info__img_bowl(src="images/pics/bag.png")
                    .info__text2
                        span.info__red Получите стильную сумку* за покупку
                        |
                        | продукции Royal Canin на сумму
                        |
                        span.info__red от 1500 рублей.
            .info__disclaimer *Все призы доставляются Почтой России в сроки, указанные в Правилах акции.
