extends _structure/_base

block content
    .prizes
        .prizes__inner
            .prizes__title Призы
            img.prizes__logo(src="images/logos/logo.svg")
            .prizes__row
                .prizes__item
                    img.prizes__img(src="images/pics/book.png")
                    .prizes__name Электронная версия<br>энциклопедии<br>«Кошки» / «Собаки»
                    .prizes__text каждому участнику акции
                .prizes__item
                    img.prizes__img(src="images/pics/bag.png")
                    .prizes__name Стильная<br>сумка<br>
                    .prizes__text при покупке продукции Royal Canin на сумму от 1 500 руб.
            .prizes__row
                .prizes__item
                    img.prizes__img(src="images/pics/ball.png")
                    .prizes__name Мячик
                    .prizes__text каждому 10-му<br>участнику
                .prizes__item
                    img.prizes__img(src="images/pics/bowl2.png")
                    .prizes__name Миска
                    .prizes__text каждому 15-му<br>участнику
            .prizes__disclaimer *Все призы доставляются Почтой России в сроки, указанные в Правилах акции.