@font-face {
  font-family: 'ArialBlack';
  src: url('../../src/fonts/ArialBlack/ArialBlack.eot');
  src: url('../../src/fonts/ArialBlack/ArialBlack.eot?#iefix') format('embedded-opentype'),
  url('../../src/fonts/ArialBlack/ArialBlack.woff') format('woff'),
  url('../../src/fonts/ArialBlack/ArialBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ArialBold';
  src: url('../../src/fonts/ArialBold/ArialBold.eot');
  src: url('../../src/fonts/ArialBold/ArialBold.eot?#iefix') format('embedded-opentype'),
  url('../../src/fonts/ArialBold/ArialBold.woff') format('woff'),
  url('../../src/fonts/ArialBold/ArialBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ArialBoldItalic';
  src: url('../../src/fonts/ArialBoldItalic/ArialBoldItalic.eot');
  src: url('../../src/fonts/ArialBoldItalic/ArialBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../../src/fonts/ArialBoldItalic/ArialBoldItalic.woff') format('woff'),
  url('../../src/fonts/ArialBoldItalic/ArialBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ArialItalic';
  src: url('../../src/fonts/ArialItalic/ArialItalic.eot');
  src: url('../../src/fonts/ArialItalic/ArialItalic.eot?#iefix') format('embedded-opentype'),
  url('../../src/fonts/ArialItalic/ArialItalic.woff') format('woff'),
  url('../../src/fonts/ArialItalic/ArialItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ArialRegular';
  src: url('../../src/fonts/ArialRegular/ArialRegular.eot');
  src: url('../../src/fonts/ArialRegular/ArialRegular.eot?#iefix') format('embedded-opentype'),
  url('../../src/fonts/ArialRegular/ArialRegular.woff') format('woff'),
  url('../../src/fonts/ArialRegular/ArialRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}