@import "reset";
@import "fonts";
@import "layout";
@import "variables";
@import "btn";
@import "select";
@import "df-checkbox";
@import "header";
@import "sign-up";
@import "steps";
@import "conditions";
@import "facts";
@import "description";
@import "about";
@import "request";
@import "footer";

html, body {
  font-family: 'ArialRegular';
  font-size: 14px;
  color: $black;
  background-color: $white;
  min-width: 320px;
  scroll-behavior: smooth;
}