.white-link {
  color: $white;
  transition: all ease-in-out .15s;

  &:hover {
    opacity: .8;
    transition: all ease-in-out .3s;
  }
}

.btn {
  transition: all ease-in-out .15s;
  padding: 20px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;

  &:hover {
    opacity: .8;
    transition: all ease-in-out .3s;
  }

  &--small {
    padding: 15px 10px;
  }
  &--red {
    background-color: $red;
    color: $white;
  }

  &--white {
    background-color: $white;
    color: $black;

  }

  &--transparent {
    background-color: transparent;
    border: solid 1px $white;
    color: $white;
  }
}