.drop-down {

  position: relative;

  &__inner {
    width: 100%;
    text-align: right;
    position: absolute;
    top: 100%;
    padding-top: 30px;
    background-color: $dark-blue;
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out .15s;

    a {
      display: block;
      color: $white;
      padding: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        opacity: .8;
      }

    }

    &--open {
      visibility: visible;
      opacity: 1;
      transition: all ease-in-out .3s;
    }
  }

  &__text {
    color: $white;
    position: relative;
    padding-right: 30px;

    &:after {
      content: "";
      position: absolute;
      top: calc(50% - 7px);
      right: 0;
      width: 15px;
      height: 15px;
      background: url("../../src/img/svg/arrow-down.svg") no-repeat;
      background-size: cover;
      transition: all ease-in-out .15s;
    }

    &--open {

      &:after {
        transform: rotate(180deg);
        transition: all ease-in-out .3s;
      }

    }
  }

  &__icon {
    margin-right: 20px;
  }
}