.footer {

  background-color: $white-blue;

  &__main {
    padding-top: 50px;
    padding-bottom: 150px;
    border-bottom: solid 2px $grey;
  }
  &__social {
    padding: 50px 0;
  }

  &__item {
    padding-bottom: 50px;
  }
  &__digit {
    display: block;
    font-size: 35px;
    line-height: 1.5;
    font-weight: 500;
    color: $black;
    transition: opacity ease-in-out .15s;

    &:hover {
      opacity: .6;
      transition: opacity ease-in-out .3s;
    }
  }
  &__text {
    display: block;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 500;
    color: $grey-dark;
  }
  &__title {
    display: block;
    font-size: 30px;
    line-height: 1.5;
    font-weight: 500;
    color: $black;
  }
  &__link {
    display: block;
    font-size: 20px;
    line-height: 2.4;
    font-weight: 500;
    color: $grey-dark;

    &:hover {
      opacity: .6;
      transition: opacity ease-in-out .3s;
    }

    a {
      color: $grey-dark;
    }

  }



}
