.hex-empty {
  width: 80px;
  height: 80px;
  background: url("../../src/img/svg/hex-empty.svg") no-repeat;
  background-size: cover;
}

.hex-grey {
  width: 100px;
  height: 100px;
  background: url("../../src/img/svg/hex-grey.svg") no-repeat;
  background-size: cover;
}


.icon-exit {
  width: 30px;
  height: 30px;
  background: url("../../src/img/png/icon-exit.png") no-repeat;
  background-size: cover;
}

.icon-file {
  width: 30px;
  height: 30px;
  background: url("../../src/img/svg/file.svg") no-repeat;
  background-size: cover;
}

.icon-question {
  width: 30px;
  height: 30px;
  background: url("../../src/img/svg/question.svg") no-repeat;
  background-size: cover;
}

.icon-map {
  width: 30px;
  height: 30px;
  background: url("../../src/img/svg/map.svg") no-repeat;
  background-size: cover;
}

.icon-social {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;

  &--vk {
    background-image: url("../../src/img/svg/vk.svg");
  }

  &--fb {
    background-image: url("../../src/img/svg/fb.svg");
  }

  &--twitter {
    background-image: url("../../src/img/svg/twitter.svg");
  }
  &--odnoklassniki {
    background-image: url("../../src/img/svg/odnoklassniki.svg");
  }
}


.icon-header {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;

  &--tile {
    background-image: url("../../src/img/svg/tile.svg");
  }

  &--search {
    background-image: url("../../src/img/svg/search.svg");
  }

  &--map {
    background-image: url("../../src/img/svg/maps-and-flags.svg");
  }

  &--translate {
    background-image: url("../../src/img/svg/translate.svg");
  }

  &--user {
    background-image: url("../../src/img/svg/user.svg");
  }
}
