.info-card {

  &__info {

    &--slider {
      padding-bottom: 100px;
    }

  }
  &__icon {
    margin-right: 20px;
  }

  &__title {
    font-size: 30px;
    color: $white;
    margin-bottom: 10px;
  }
  &__description {
    color: $white;
    font-size: 18px;
    line-height: 1.5;
    height: 100px;

  }
  &__btns {
    padding-top: 60px;
  }
  &__login {
    width: 80px;
    margin-right: 20px;
  }
  &__registration {
    width: 220px;
  }

}
.clip-polygon {
  -webkit-clip-path: url("#hex");
  clip-path: url("#hex");
}