.main-wrapper {
  margin: 0 auto;
  max-width: 1900px;
  padding: 0 20px;
}
.row {
  display: flex;
}
.row-wrap {
  display: flex;
  flex-wrap: wrap;
}
.row-between {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.row-right {
  display: flex;
  justify-content: flex-end;
}
.row-vertical-center {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-50 {
 width: 50%;
}
.col-33 {
  width: 33.3%;
}
