.main-search {

  min-height: 20px;
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 60px;

  &__input {
    width: 89%;
    font-size: 22px;
    line-height: 60px;
    font-weight: 400;
    background-color: $white;

  }
  &__submit {
    width: 10%;
    font-size: 18px;
    font-weight: 300;
    color: $white;
    z-index: 10;
  }
}
