.main-info {
  background-color: $blue;

  &__search {
    padding: 15px 0;
  }
}

.logo {
  &__img {
    height: 90px;
  }

}
.logo-text {
  margin-left: 20px;
  color: $white;
  font-weight: 500;

  &__big {
    font-size: 30px;
  }
  &__small {
    font-size: 20px;
  }
}
.link-box {

  a {
    display: inline-block;
    font-size: 18px;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}
