.section-card {
  background-color: $white;
  padding: 20px;
  width: 49%;
  border-radius: 5px;
  margin-top: 20px;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
  }

  &:nth-child(1) {
    margin-top: -70px;
  }
  &:nth-child(2) {
    margin-top: -70px;
  }

  &__icon {
    margin-right: 30px;
  }

  &__title {
    font-size: 25px;
    font-weight: 500;
    color: $black;
    padding-bottom: 15px;
  }

  &__description {
    font-size: 18px;
    color: $grey-dark;
  }


}
