* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: dinPro, Arial, sans-serif; }

input {
  font-family: dinPro, Arial, sans-serif; }

@font-face {
  font-family: dinPro;
  src: url("../fonts/dinpro/dinpro-medium.ttf"); }

@font-face {
  font-family: dinPro;
  src: url("../fonts/dinpro/dinpro-bold.otf");
  font-weight: bold; }

.header {
  background-color: #e61e2a;
  position: relative;
  z-index: 10; }
  .header__inner {
    width: 1000px;
    margin: 0 auto; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding: 20px 0 25px;
  margin: 0; }
  .menu__item {
    padding: 0 65px;
    border-right: solid 2px #ffffff; }
    .menu__item:last-child {
      border: none; }
  .menu__link {
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-size: 19px;
    letter-spacing: 1px; }

.top-panel {
  background-image: url(../images/pics/cat.jpg);
  background-repeat: no-repeat;
  background-position: -webkit-calc(50% + 370px) 11%;
  background-position: calc(50% + 370px) 11%;
  -webkit-box-shadow: 0px -3px 15px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px -3px 15px 0px rgba(0, 0, 0, 0.6); }
  .top-panel__inner {
    width: 1000px;
    margin: 0 auto;
    padding: 0 25px; }
  .top-panel__block {
    width: 505px;
    padding-top: 50px; }
  .top-panel__text {
    display: block;
    font-size: 33px;
    text-transform: uppercase;
    color: red;
    font-weight: bold;
    padding: 15px 0 70px; }

.contest__inner {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 0 25px; }

.contest__title {
  font-size: 33px;
  color: #000000;
  font-weight: bold;
  padding-top: 55px;
  padding-bottom: 25px;
  display: block; }

.contest__item {
  width: 180px;
  height: 110px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  opacity: .5;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
  cursor: pointer; }
  .contest__item_checked {
    opacity: 1;
    outline: 2px solid #e61e2a; }
  .contest__item:hover {
    opacity: 1; }
  .contest__item_sm {
    width: 125px;
    height: 80px;
    margin-right: 10px; }
    .contest__item_sm:last-of-type {
      margin-right: 0; }

.contest__img {
  width: 100%;
  padding: 0 18px; }
  .contest__img_lemurr {
    margin-top: 30px;
    padding: 0 30px; }
  .contest__img_sami-s-usami {
    padding: 0 35px; }
  .contest__img_market {
    padding: 0 5px; }
  .contest__img_zverolash {
    padding: 0 10px; }

.contest__plh {
  width: 180px;
  height: 110px;
  background-color: lightgrey; }

.contest__plh2 {
  width: 125px;
  height: 80px;
  background-color: lightgrey;
  margin-right: 10px; }
  .contest__plh2:last-of-type {
    margin-right: 0; }

.contest__shops {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .contest__shops_row1 {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px; }
  .contest__shops_row2 {
    -webkit-box-pack: left;
    -webkit-justify-content: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 30px; }

.dropzone {
  width: 100%;
  height: 255px;
  background-image: url(../images/icons/dashes.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 55px; }
  .dropzone_dragged-on {
    background-color: #efefef; }
  .dropzone__error {
    text-align: center;
    color: #e61e2a;
    display: none;
    margin: 20px 0;
    font-weight: bold; }
    .dropzone__error_visible {
      display: block; }
  .dropzone__send {
    padding: 10px 40px;
    background-color: #e61e2a;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 28px;
    width: 240px;
    font-weight: bold;
    text-align: center;
    display: none;
    margin: 30px auto 20px;
    cursor: pointer; }
  .dropzone_filled {
    background-image: none;
    height: auto; }
    .dropzone_filled .dropzone__send {
      display: block; }
    .dropzone_filled .dropzone__link_additional {
      display: block !important;
      text-align: center; }
    .dropzone_filled .dropzone__photo {
      display: block; }
    .dropzone_filled span {
      display: none; }
    .dropzone_filled .dropzone__link {
      display: none !important;
      cursor: pointer;
      float: left; }
    .dropzone_filled .dropzone__content {
      padding-left: 0; }
      .dropzone_filled .dropzone__content::before {
        display: none; }
  .dropzone__photo {
    width: 170px;
    height: auto;
    border: solid 2px #e61e2a;
    display: none;
    margin: 30px auto 0; }
  .dropzone__content {
    color: #dcdcdc;
    font-size: 19px;
    padding-left: 180px;
    margin: 0 220px;
    text-align: left;
    line-height: 1.2;
    position: relative; }
    .dropzone__content::before {
      content: '';
      position: absolute;
      width: 160px;
      height: 130px;
      left: 0;
      top: -45px;
      background-image: url(../images/icons/dropdown-icon.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
  .dropzone__link {
    color: #e61e2a;
    font-size: 19px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer; }
    .dropzone__link_additional {
      display: none; }
  .dropzone__input-native {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%; }

.info {
  background-color: #f5f5f5; }
  .info__inner {
    width: 1000px;
    padding: 0 25px;
    margin: 0 auto;
    text-align: center; }
  .info__title {
    font-size: 33px;
    font-weight: bold;
    color: #e61e2a;
    padding-top: 55px;
    padding-bottom: 55px; }
  .info__row {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .info__row::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 2px;
      background-color: #e61e2a;
      margin: 0 160px; }
  .info__step {
    width: 100%;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px; }
  .info__num {
    font-size: 51px;
    color: #ffffff;
    background-color: #e61e2a;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    position: absolute;
    top: -60px;
    left: 50%;
    margin-left: -60px;
    z-index: 20;
    border: 30px solid #f5f5f5;
    -webkit-box-sizing: content-box;
            box-sizing: content-box; }
  .info__name {
    font-size: 24px;
    color: #e61e2a;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 250px;
    margin: 0 auto 8px; }
  .info__img_book {
    margin: 5px 0 37px; }
  .info__img_bowl {
    margin-bottom: 14px;
    display: inline-block;
    vertical-align: middle; }
  .info__text {
    font-size: 16px;
    color: #333333; }
  .info__text2 {
    font-size: 19px;
    color: #666666;
    max-width: 280px;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 35px;
    text-align: left;
    font-weight: bold; }
  .info__red {
    font-size: 19px;
    color: #e61e2a; }
  .info__disclaimer {
    font-size: 11px;
    color: #878787;
    padding-bottom: 15px; }

.footer {
  background-color: #98999a; }
  .footer__inner {
    width: 1000px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 25px 35px; }
  .footer__text {
    color: #dedfdf;
    font-size: 14px;
    text-align: left;
    line-height: 1.6; }
  .footer__button {
    text-transform: uppercase;
    color: #dcdcdc;
    font-size: 16px;
    padding: 15px 45px;
    border: solid 2px #dedfdf; }

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .modal_no-bg {
    background-color: transparent; }
  .modal_active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .modal_thanks .modal__inner {
    padding-left: 130px;
    padding-right: 130px; }
  .modal_decision .modal__inner {
    padding: 15vh 0 20vh; }
  .modal__text {
    width: 100%;
    text-align: left;
    font-size: 16px;
    color: #867575; }
    .modal__text_important {
      color: #e61e2a;
      text-align: center; }
    .modal__text_pet-text {
      padding-left: 25px; }
    .modal__text_center {
      text-align: center;
      max-width: 260px;
      margin: 10px auto; }
    .modal__text_bold {
      font-weight: bold; }
    .modal__text_thanks {
      text-align: center;
      margin-top: 25px; }
  .modal__inner {
    width: 710px;
    text-align: center;
    background-color: #ffffff;
    padding: 60px 165px;
    overflow: auto;
    position: fixed;
    max-height: 90vh;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .modal__title {
    font-size: 33px;
    color: #e61e2a;
    font-weight: bold;
    margin: 0 0 35px;
    text-transform: uppercase; }
    .modal__title_padding-top {
      margin-top: 30px;
      margin-bottom: 0;
      display: block; }
  .modal__close {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer; }
    .modal__close::before {
      content: "";
      display: block;
      position: absolute;
      top: 12px;
      left: -4px;
      width: 34px;
      height: 2px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      background-color: #000000; }
    .modal__close::after {
      content: "";
      display: block;
      position: absolute;
      top: 12px;
      left: -4px;
      width: 34px;
      height: 2px;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      background-color: #000000; }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .form__input {
    width: 100%;
    display: inline-block;
    padding: 12px 25px;
    margin-bottom: 22px;
    font-size: 16px;
    border: 1px solid #867575; }
    .form__input_sm {
      width: 47%; }
  .form__button-big {
    width: 100%;
    background-color: #e61e2a;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: none;
    padding: 10px; }
  .form__checkboxes {
    position: relative; }
  .form__checkbox {
    font-size: 16px;
    color: #867575;
    display: block;
    text-align: left;
    margin: 10px 0 15px;
    position: relative;
    padding-left: 35px; }
    .form__checkbox::before {
      content: '';
      width: 20px;
      height: 20px;
      border: 1px solid #867575;
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -10px; }
  .form__checkbox-native {
    position: absolute;
    top: 0;
    left: 50%;
    height: 1px;
    width: 1px;
    opacity: 0; }
    .form__checkbox-native:checked + .form__checkbox::before {
      background-image: url(../images/icons/check.png);
      background-size: 14px;
      background-position: center;
      background-repeat: no-repeat; }
  .form__link {
    font-size: 16px;
    color: #867575;
    text-decoration: underline;
    background-color: transparent;
    border: none; }
    .form__link_center {
      text-align: center;
      width: 100%; }
  .form__radio-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 10px 0;
    position: relative; }
  .form__radio {
    width: 100%;
    padding: 15px 25px;
    border: solid 1px #867575;
    text-align: left;
    cursor: pointer;
    color: #867575; }
    .form__radio:last-of-type {
      border-left: none; }
    .form__radio_native {
      position: absolute;
      width: 1px;
      height: 1px;
      opacity: 0;
      left: 0;
      top: 0; }
      .form__radio_native:checked + .form__radio {
        background-color: #e61e2a;
        color: #ffffff; }

.prizes__inner {
  width: 1000px;
  margin: 0 auto;
  padding: 0 25px;
  position: relative; }

.prizes__logo {
  width: 150px;
  position: absolute;
  left: 0;
  top: 40px; }

.prizes__title {
  font-size: 33px;
  font-weight: bold;
  color: #e61e2a;
  text-align: center;
  padding: 60px 0 50px;
  text-transform: uppercase; }

.prizes__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.prizes__item {
  width: 470px;
  height: 360px;
  background-color: #fafafa;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0 100px; }

.prizes__img {
  height: 160px; }

.prizes__name {
  font-size: 24px;
  font-weight: bold;
  color: #e61e2a;
  margin: 10px 0;
  text-transform: uppercase; }

.prizes__disclaimer {
  font-size: 11px;
  color: #878787;
  padding-bottom: 15px;
  text-align: center;
  margin-top: 50px; }

.prizes__text {
  color: #333333;
  font-size: 16px; }

body {
  font-family: dinPro, Arial, sans-serif;
  position: relative; }

.lock-screen {
  overflow: hidden; }

textarea {
  font-family: dinPro, Arial, sans-serif; }

.overlayer {
  opacity: 0;
  z-index: -1;
  background-color: #0b0c0e;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  position: absolute; }

.header {
  background-color: #e61e2a;
  position: relative;
  z-index: 10;
  width: 100%; }

.header__inner {
  margin: 0 auto; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style-type: none;
  padding: 20px 0 25px;
  margin: 0; }

html [type=button] {
  -webkit-appearance: inherit;
     -moz-appearance: inherit;
          appearance: inherit; }

.menu__item {
  padding: 0 65px;
  border-right: solid 2px #ffffff; }

.menu__item:last-child {
  border: none; }

.menu__item--last-child {
  border: none; }

.menu__link {
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-size: 19px;
  letter-spacing: 1px; }

.menu__link--active {
  color: #ff9999; }

.footer__inner {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 25px 35px; }

.footer__button {
  text-transform: uppercase;
  color: #dcdcdc;
  font-size: 16px;
  padding: 15px 45px;
  border: solid 2px #dedfdf; }

.footer__block {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0; }

.footer__button {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0; }

.modal-img {
  width: 210px; }

.modal_thanks .modal__text {
  text-align: center; }

.prizes__text {
  color: #333333;
  font-size: 16px; }

.faq__logo {
  width: 150px;
  position: absolute;
  left: 0;
  top: 40px; }

.faq__inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 25px;
  position: relative; }

.faq__title {
  font-size: 33px;
  font-weight: bold;
  color: #e61e2a;
  text-align: center;
  padding: 60px 0 50px;
  text-transform: uppercase; }

.faq-questions__items {
  padding-bottom: 43px;
  padding-left: 47px; }

.faq-block__title {
  position: relative;
  margin-right: 25px;
  color: #98999a;
  font-size: 22px;
  line-height: 18px;
  cursor: pointer;
  border-bottom: 1px dashed #98999a; }

li {
  font-size: 24px;
  line-height: 16px;
  color: #98999a; }

.faq-block__title--up {
  color: #e61e2a;
  border-bottom: 1px dashed #e61e2a; }

.faq-block__arrow {
  border: solid #98999a;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 6px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: 4px;
  margin-bottom: 3px; }

.faq-block__title--up .faq-block__arrow {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
  border: solid red;
  border-width: 0 1px 1px 0; }

.faq-block__title--up + .faq-block__body {
  display: block; }

.faq-block__body {
  display: none;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding-top: 20px; }

.faq-block a {
  text-decoration: none; }

.faq-block__text {
  font-size: 24px;
  line-height: 20px;
  color: #98999a; }

.faq__btn {
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid #e61e2a;
  padding: 13px 28px;
  background-color: rgba(213, 29, 41, 0.8);
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.faq__btn:active {
  background-color: #D51D29;
  color: #fff;
  -webkit-transition: none;
  transition: none;
  outline: none; }

.faq__btn:focus {
  color: #fff;
  background-color: #D51D29;
  outline: none; }

.faq__btn:hover {
  background-color: #e61e2a;
  color: #fff; }

.faq-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px; }

.faq__disclaimer {
  font-size: 11px;
  color: #878787;
  padding-bottom: 15px;
  text-align: center; }

textarea.form__question {
  resize: none;
  height: 200px; }

.faq-block__numeral {
  position: absolute;
  top: 6px;
  left: -26px;
  display: inline-block; }

.winners__inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 25px;
  position: relative; }

.winners__title {
  font-size: 33px;
  font-weight: bold;
  color: #e61e2a;
  text-align: center;
  padding: 60px 0 50px;
  text-transform: uppercase; }

.winners__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.winners-card {
  width: 307px;
  height: 725px;
  background-color: #fafafa;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 0 38px 39px; }

.winners-card__img {
  height: 158px; }

.winners-card__img--bowl {
  margin-bottom: -27px; }

.winners-card__name {
  font-size: 24px;
  font-weight: bold;
  color: #e61e2a;
  margin: 10px 0;
  text-transform: uppercase; }

.winners-card__name--bottom {
  font-size: 19px;
  margin-top: 29px;
  margin-bottom: 19px;
  position: relative; }

.winners-card__text {
  color: #333333;
  font-size: 16px;
  padding-bottom: 26px; }

.winners-card__text--bottom {
  padding-bottom: 19px; }

.winners-card__img-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 194px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.winners-card__header {
  border-bottom: solid 2px #e61e2a; }

.winners__disclaimer {
  font-size: 11px;
  color: #878787;
  padding-bottom: 15px;
  text-align: center;
  margin-top: 50px; }

.winners-card__bottom {
  position: relative;
  width: 100%; }

.icon-calendar {
  background-image: url(../images/pics/calendar.png);
  background-size: contain;
  width: 33px;
  height: 33px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  top: 19px;
  right: 11px; }

.icon-pencil {
  background-image: url(../images/icons/pencil.png);
  width: 21px;
  height: 21px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  top: 9px;
  right: -30px; }

.icon-list {
  background-image: url(../images/icons/list-black.png);
  height: 25px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: cover; }

.icon-list--gray {
  background-image: url(../images/icons/list-gray.png); }

.icon-list--red {
  background-image: url(../images/icons/list-red.png); }

.icon-user {
  background-image: url(../images/icons/user.png);
  height: 52px;
  width: 52px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: cover; }

.receipt-info__icon .icon-list.icon-list--gray,
.receipt-info__icon .icon-list.icon-list--red,
.receipt-info__icon .icon-list {
  height: 52px;
  width: 42px; }

.profile__inner {
  width: 1000px;
  margin: 0 auto;
  padding: 0 25px;
  position: relative; }

.profile__title {
  font-size: 33px;
  font-weight: bold;
  color: #e61e2a;
  text-align: center;
  padding: 60px 0 50px;
  text-transform: uppercase; }

.profile__logout {
  font-size: 33px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 0;
  top: 60px; }

.profile__account-info-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 80px;
  background-color: #fafafa;
  margin-bottom: 30px; }

.account-info-block__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.account-info-block__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.account-info-block__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.account-info-block__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.account-info-block__center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.account-info-block__field {
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  min-width: 270px;
  margin-bottom: 30px;
  position: relative; }

.account-info-block__field input {
  min-width: 270px;
  border: none;
  outline: none;
  padding-bottom: 10px;
  padding-left: 3px;
  background-color: inherit; }

.account-info-block__text {
  min-width: 294px;
  margin-bottom: 42px;
  font-size: 16px;
  color: #cccccc; }

.profile__prizes-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 58px; }

.profile-prizes-block {
  width: 234px;
  height: 377px;
  background-color: #fafafa;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px; }

.profile-prizes-block--passive {
  opacity: 0.5; }

.profile-prizes-block__img-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px; }

.profile-prizes-block__img {
  height: 100px; }

.profile-prizes-block__name {
  font-size: 24px;
  font-weight: bold;
  color: #e61e2a;
  margin: 10px 0;
  text-transform: uppercase; }

.profile-prizes-block__name--one-row {
  margin-bottom: 37px; }

.profile-prizes-block__text {
  color: #333333;
  font-size: 14px; }

.profile-prizes-block__text--repeat {
  margin-bottom: 10px; }

.profile__btn {
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid #e61e2a;
  padding: 13px 40px;
  background-color: #e61e2a;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-decoration: none; }

.profile__btn:active {
  background-color: #D51D29;
  color: #fff;
  -webkit-transition: none;
  transition: none;
  outline: none; }

.profile__btn:focus {
  color: #fff;
  background-color: #D51D29;
  outline: none; }

.profile__btn:hover {
  background-color: #D51D29;
  color: #fff; }

.profile-prizes-block__img--ball {
  margin-bottom: -18px; }

.profile-prizes-block__img--bowl {
  margin-bottom: -36px; }

.profile__choice-receipt-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 67px; }

.profile__choice-receipt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.choice-receipt-block__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 305px; }

.choice-receipt-block__title {
  font-size: 24px;
  font-weight: bold;
  color: #e61e2a;
  margin: 10px 0;
  text-transform: uppercase;
  margin-bottom: 26px; }

.choice-receipt-block__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.choice-receipt-block__text {
  font-size: 12px;
  font-weight: 500;
  padding-left: 10px; }

.choice-receipt-block__text--red {
  color: #e61e2a; }

.choice-receipt-block__text--gray {
  color: rgba(0, 0, 0, 0.6); }

.shops-block__item {
  height: auto;
  background-color: #fafafa;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0 0 37px;
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
  margin-bottom: 15px;
  margin-right: 15px; }

.profile__shops-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 60px; }

.shops-block__receipt-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px; }

.shops-block__logo {
  height: 57px;
  text-align: center;
  margin-bottom: 50px; }

.receipt-info__text {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  padding-left: 40px; }

.receipt-info__text--red {
  color: #e61e2a; }

.receipt-info__text--gray {
  color: rgba(0, 0, 0, 0.5); }

.profile__disclaimer {
  font-size: 11px;
  color: #878787;
  padding-bottom: 15px;
  text-align: center; }

.modal__inner--profile-get {
  padding: 60px 77px; }

.form-inner {
  padding: 0 87px; }

.calendar {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: 100%; }

.ui-datepicker {
  width: 232px;
  height: auto;
  font-family: dinPro, Arial, sans-serif;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); }

.ui-datepicker a {
  text-decoration: none; }

.ui-datepicker-header {
  background-color: #e61e2a;
  font-size: 19px;
  font-weight: bold;
  color: #FFFFFF; }

.ui-datepicker .ui-datepicker-header {
  padding: 0; }

.ui-datepicker-title {
  text-align: center; }

.ui-widget-header {
  border: none; }

.ui-corner-all {
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -webkit-border-top-right-radius: 0;
          border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
          border-top-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0; }

.ui-datepicker {
  padding: 0; }

.ui-datepicker thead {
  background-color: #98999a;
  color: #FFFFFF;
  font-family: dinPro, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase; }

.ui-datepicker table {
  margin: 0; }

.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 20px;
  color: #666666; }

.ui-datepicker-calendar .ui-state-default {
  background: #FFFFFF;
  color: #333333;
  border: none; }

.ui-datepicker-unselectable .ui-state-default {
  background: #f4f4f4;
  color: #b4b3b3; }

.ui-datepicker-calendar .ui-state-hover {
  background: #ECEBEB; }

.ui-datepicker-calendar .ui-state-active {
  background: #e61e2a;
  color: #FFFFFF;
  border: none; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: none;
  background-color: #E68894;
  color: #FFFFFF; }

.ui-icon-circle-triangle-w {
  background-image: url("../images/icons/arrow-left.png") !important;
  background-repeat: no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-position: center; }

.ui-icon-circle-triangle-e {
  background-image: url("../images/icons/arrow-right.png") !important;
  background-repeat: no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-position: center; }

.ui-datepicker .ui-datepicker-prev span {
  top: 8px; }

.ui-datepicker .ui-datepicker-next span {
  top: 8px; }

.ui-state-hover, .ui-widget-content .ui-state-hover {
  border: none;
  background: none;
  color: #333333; }

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary {
  opacity: 0.5; }

.ui-datepicker-week-end .ui-state-default {
  color: red; }

.ui-datepicker-week-end .ui-state-active {
  color: #FFFFFF; }

.ui-datepicker-week-end .ui-state-hover {
  color: red; }

.only-mobile {
  display: none; }

.only-desktop {
  display: initial; }

.only-desktop-inline {
  display: inline; }

.contest__shops_row1.only-desktop, .contest__shops_row2.only-desktop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.contest__shops_row1.only-mobile, .contest__shops_row2.only-mobile, .contest__shops_row3.only-mobile {
  display: none; }

.dropzone.only-desktop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.dropzone.only-mobile {
  display: none;
  /* */ }

.modal__inner_receipts {
  width: 710px;
  text-align: center;
  background-color: #ffffff;
  padding: 60px 30px;
  overflow: auto;
  position: fixed;
  max-height: 95vh;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.modal_receipts ol {
  display: block;
  padding: 0 0 0 46px;
  list-style: none;
  overflow: hidden;
  counter-reset: numList; }

.modal_receipts ol li {
  text-align: left;
  font-size: 16px;
  position: relative;
  line-height: 200%; }

.modal_receipts ol li:before {
  counter-increment: numList;
  content: counter(numList);
  position: absolute;
  left: -36px;
  font: bold 16px sans-serif;
  text-align: center;
  color: #fff;
  line-height: 26px;
  width: 26px;
  height: 26px;
  background: #e61e2a;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

#ball-calendar-results {
  overflow-y: scroll;
  max-height: 300px; }

#bowl-calendar-results {
  overflow-y: scroll;
  max-height: 300px; }

#bag-calendar-results {
  overflow-y: scroll;
  max-height: 300px; }

@media only screen and (max-width: 766px) {
  /* */
  .only-mobile {
    display: block; }
  .contest__shops_row1.only-desktop, .contest__shops_row2.only-desktop {
    display: none; }
  .dropzone.only-desktop {
    display: none; }
  .only-desktop-inline {
    display: none; }
  .dropzone.only-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .dropzone__link.only-desktop {
    display: none; }
  .header {
    width: 100%; }
  .header__inner {
    width: 100%; }
  .prizes__logo {
    width: 267px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .menu {
    padding: 25px 0 20px; }
  .menu__item {
    position: relative;
    padding: 0 8px; }
  .icon-user {
    width: 30px;
    height: 30px; }
  .only-desktop {
    display: none; }
  .winners__inner {
    width: 100%;
    padding: 0; }
  .winners__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 20px 30px;
    width: 100%; }
  .footer__button {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    font-size: 20px;
    padding: 10px 50px;
    margin-bottom: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none; }
  .footer__text {
    font-size: 13px;
    margin-bottom: 25px;
    opacity: .5;
    text-align: center; }
  .footer__text:last-child {
    margin-bottom: 0; }
  .footer__block {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0; }
  #menu-register {
    display: none; }
  .menu__link {
    font-size: 17px; }
  .winners-card {
    width: 90%;
    padding: 0 20px;
    height: auto;
    margin-bottom: 20px; }
  .winners-card__img-box {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 180px; }
  .winners__title {
    font-size: 30px;
    padding: 145px 0 20px; }
  .winners-card__img {
    height: 166px; }
  .winners-card__img--ball {
    margin-bottom: -16px; }
  .winners-card__img--bag {
    margin-bottom: -10px; }
  .winners-card__name {
    font-size: 30px; }
  .winners-card__name--bottom {
    margin-top: 28px; }
  .winners-card__text {
    font-size: 22px; }
  .winners-card__text--header {
    padding-bottom: 27px; }
  .winners-card__header {
    border-bottom: solid 3px #e61e2a;
    width: 100%; }
  .winners-card__text--bottom {
    font-size: 30px; }
  .winners-card__text--bottom-s {
    font-size: 20px; }
  .icon-calendar {
    width: 40px;
    height: 40px;
    right: 0;
    top: 23px; }
  .winners-card__img--bowl {
    margin-bottom: -34px; }
  .winners__disclaimer {
    font-size: 13px;
    margin-top: 25px; }
  .overlayer--active {
    z-index: 1;
    opacity: 0.7; }
  .ui-datepicker {
    top: 0 !important;
    position: fixed !important;
    left: 0 !important;
    width: 100% !important; }
  /* */
  .prizes__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .prizes__inner {
    width: 100%;
    padding: 0 10px; }
  .prizes__title {
    font-size: 30px;
    padding: 145px 0 20px; }
  .prizes__item {
    width: 95%;
    height: auto;
    padding: 40px 5px; }
  .prizes__img {
    height: 130px; }
  .prizes__text {
    font-size: 20px; }
  .prizes__img--bowl {
    margin-bottom: -26px; }
  .prizes__img--ball {
    margin-bottom: -20px; }
  .prizes__disclaimer {
    font-size: 13px; }
  /* */
  .faq__logo {
    width: 233px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 27px; }
  .faq__title {
    padding: 135px 0 20px;
    font-size: 25px; }
  .faq-block__arrow {
    padding: 4px;
    margin-bottom: 2px; }
  .faq-block__title {
    font-size: 18px; }
  .faq__btn {
    padding: 12px 40px;
    margin-bottom: 50px; }
  .faq-btn {
    margin-bottom: 0; }
  .faq__disclaimer {
    font-size: 13px; }
  .modal__inner {
    width: 100%;
    height: 100%;
    padding: 50px 20px;
    max-height: 100vh; }
  .modal__close {
    width: 31px; }
  .form__input {
    font-size: 15px; }
  .form__button-big {
    margin-top: 10px; }
  /* */
  .top-panel {
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none; }
  .top-panel__inner {
    width: 100%; }
  .top-panel__block {
    width: 100%;
    padding-top: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .top-panel__logo {
    width: 195px;
    left: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    top: 27px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .top-panel__text {
    text-align: center;
    font-size: 20px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    padding: 15px 0 20px; }
  .contest__inner {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 12px 5px; }
  .contest__title {
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 22px; }
  .contest__shops_row1.only-mobile, .contest__shops_row2.only-mobile, .contest__shops_row3.only-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0; }
  .contest__item {
    width: 100%;
    height: 80px;
    margin-right: 5px; }
  .contest__item:last-child {
    margin-right: 0; }
  .download__btn {
    padding: 12px 81px;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border: 1px solid #e61e2a;
    background-color: #e61e2a;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-decoration: none; }
  .dropzone {
    height: auto;
    background-image: none;
    margin-bottom: 20px;
    margin-top: 20px; }
  .dropzone__content:before {
    display: none; }
  .dropzone__content {
    padding-left: 0;
    margin: 0; }
  .info__inner {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .info__row.info__row_1, .info__row.info__row_2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .block-img {
    background-image: url(../images/pics/cat.jpg);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: 100%;
    height: 200px; }
  .info__title {
    font-size: 28px;
    padding-top: 20px; }
  .contest__img {
    width: 100%;
    max-width: 135px; }
  .info__num {
    border: none;
    top: 50px;
    margin-left: -117px;
    z-index: 1; }
  .info__row:after {
    height: 0; }
  .info__img {
    position: relative;
    z-index: 100; }
  .info__num--bag {
    top: 100px; }
  .info__img_bowl {
    z-index: 0; }
  .info__img_bag {
    z-index: 0; }
  .info__step {
    padding-top: 10px;
    padding-bottom: 40px; }
  .info__name {
    max-width: none;
    font-size: 26px; }
  .info__text {
    font-size: 20px; }
  .info__text2 {
    text-align: center;
    margin-bottom: 20px; }
  .info__disclaimer {
    font-size: 14px; }
  .modal_decision .modal__inner {
    padding: 25vh 2vh 21vh; }
  .modal__title {
    font-size: 27px; }
  .modal__text {
    color: #333333;
    font-size: 20px; }
  .modal__text_important {
    color: #e61e2a;
    font-size: 14px; }
  /* */
  .profile__inner {
    width: auto;
    padding: 0 15px; }
  .profile__title {
    padding: 152px 0 25px; }
  .profile__logout {
    right: 13px;
    top: 4px; }
  .profile__account-info-block-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 40px;
    background-color: #fafafa; }
  .account-info-block__field-mobile {
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
    min-width: 100px;
    margin-bottom: 15px;
    position: relative; }
  .icon-pencil--mobile {
    top: 9px;
    right: -30px; }
  .info-block-text-mobile {
    font-size: 17px;
    color: #cccccc;
    text-align: left;
    margin-bottom: 15px; }
  .account-info-block__field-mobile input {
    min-width: 100px;
    border: none;
    outline: none;
    padding-bottom: 10px;
    padding-left: 3px;
    background-color: inherit; }
  .profile__btn {
    padding: 10px 55px; }
  .profile__prizes-block-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .profile__prizes-block-mobile-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .profile-prizes-block {
    width: 50%;
    margin-bottom: 15px;
    height: 310px; }
  .shops-block__item {
    width: auto; }
  .profile-prizes-block__name {
    font-size: 15px; }
  .profile__btn--small {
    padding: 6px 27px;
    font-size: 12px; }
  .profile__logout {
    font-size: 27px; }
  .profile__disclaimer {
    font-size: 15px; }
  .choice-receipt-block__title {
    font-size: 20px; }
  .choice-receipt-block__info {
    padding: 0 5px; }
  .choice-receipt-block__text {
    font-size: 10px; }
  .profile__choice-receipt-block {
    margin-bottom: 25px; }
  .profile__shops-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px; }
  .shops-block__item {
    padding: 20px 30px 20px;
    height: auto;
    margin-bottom: 10px; }
  .shops-block__logo {
    margin-bottom: 20px; }
  .shops-block__logo {
    height: 50px; }
  .shops-block__receipt-info {
    margin-bottom: 15px; }
  .shops-block__receipt-info:last-child {
    margin-bottom: 0; }
  .receipt-info__icon .icon-list.icon-list--gray, .receipt-info__icon .icon-list.icon-list--red, .receipt-info__icon .icon-list {
    height: 39px;
    width: 31px; }
  .receipt-info__text {
    padding-left: 18px;
    font-size: 14px;
    line-height: 14px; }
  .menu-dropdown {
    display: none; }
  .menu-dropdown--open {
    display: block; }
  .menu-dropdown {
    margin-left: 0;
    position: absolute;
    background-color: #e61e2a;
    right: 0;
    margin-right: 3px;
    padding: 10px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 5px;
            border-radius: 5px; }
  .menu-dropdown__item {
    list-style-type: none; }
  .menu-dropdown__item a {
    text-decoration: none;
    color: #FFFFFF; }
  .menu-dropdown__item {
    margin-bottom: 5px;
    font-size: 17px; }
  .menu-dropdown__item {
    padding-bottom: 5px; }
  .menu-dropdown__item:last-child {
    border-bottom: none;
    padding-bottom: 0; }
  .modal_thanks .modal__inner {
    padding-left: 20px;
    padding-right: 20px; }
  .modal_thanks .modal__title {
    font-size: 25px; }
  .modal-img {
    width: 150px; }
  .modal_thanks .modal__text.modal__text_important {
    color: #e61e2a; }
  .modal_thanks .modal__text {
    color: #867575;
    text-align: center; }
  .form-inner {
    padding: 0 0; }
  .form__input_sm--mobile {
    width: 100%; } }

@media only screen and (min-width: 767px) and (max-width: 1024px) {
  /* */
  .header {
    width: 100%; }
  .header__inner {
    width: 100%; }
  .menu {
    padding: 25px 0 20px; }
  .menu__item {
    padding: 0 30px; }
  .winners__inner {
    max-width: 90%; }
  .prizes__logo {
    width: 190px;
    top: 21px;
    left: 19px; }
  .winners-card {
    width: 246px;
    padding: 0 15px 15px; }
  .winners__title {
    font-size: 33px; }
  .winners-card__name {
    font-size: 21px; }
  .winners-card__text {
    font-size: 16px; }
  .winners__disclaimer {
    font-size: 17px; }
  .footer__text {
    font-size: 15px; }
  /* */
  .prizes__inner {
    width: 100%; }
  .prizes__item {
    padding: 0 50px;
    width: 374px; }
  .prizes__row {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .prizes__name {
    font-size: 23px; }
  .prizes__text {
    font-size: 23px; }
  .prizes__disclaimer {
    font-size: 17px; }
  /* */
  .faq__disclaimer {
    font-size: 15px; }
  .form__input_sm {
    width: 100%; }
  /* */
  .top-panel__inner {
    width: auto; }
  .contest__inner {
    width: auto; }
  .info__inner {
    width: auto; }
  .only-desktop-inline {
    display: inline; }
  .dropzone__link.only-desktop {
    display: initial; }
  .dropzone__content:before {
    top: 3px; }
  .info__name {
    font-size: 22px; }
  .info__disclaimer {
    font-size: 17px; }
  .info__text {
    font-size: 19px; }
  /* */
  .profile__inner {
    width: 100%; }
  .account-info-block__left {
    width: 45%; }
  .account-info-block__right {
    width: 45%; }
  .account-info-block__field {
    min-width: 200px; }
  .account-info-block__field input {
    min-width: 200px; }
  .profile__account-info-block {
    margin-bottom: 10px; }
  .profile-prizes-block {
    width: 199px;
    height: 344px;
    margin-bottom: 40px; }
  .profile-prizes-block__name {
    font-size: 20px; }
  .profile-prizes-block__name--one-row {
    margin-bottom: 48px; }
  .profile__choice-receipt-block {
    margin-bottom: 50px; }
  .choice-receipt-block__info {
    padding: 0 170px; }
  .profile__shops-block {
    margin-bottom: 40px; }
  .shops-block__item {
    width: 47%;
    height: auto;
    padding: 40px 0 0 10px; }
  .profile__disclaimer {
    font-size: 18px; }
  .profile__logout {
    right: 30px; }
  .form-inner {
    padding: 0 0; }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 20px 30px;
    width: 100%; }
  .footer__button {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    font-size: 20px;
    padding: 10px 50px;
    margin-bottom: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none; }
  .footer__text {
    font-size: 25px;
    margin-bottom: 20px;
    opacity: .5;
    text-align: center; }
  .dropzone__content {
    margin: 0 136px; } }
